:root {
  --text-dark: #54494b;
  --text-light: #837275;
  --ninja-red: #c22d2e;
}

.our-services-box-hover .flip-card {
  display: none;
}

.testimonialsContainer .slick-dots {
  display: none !important;
}

// how-to-order
.how-to-order-title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 63px;
  border-bottom: 3px solid var(--ninja-red);
  margin: 10px auto;
  width: fit-content;
  margin-bottom: 50px;
  margin-top: 50px;
}

// WhatMakeUsSpecial

.What-Make-Us-Special {
  display: none;
}

.What-Make-Us-Special-card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 63px;
  border-bottom: 3px solid var(--ninja-red);
  margin: 10px auto;
  width: fit-content;
  margin-bottom: 70px;
  text-align: center;
}

.What-Make-Us-Special-card-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;

}

// .What-Make-Us-Special-hover{

//   // transform-style: preserve-3d;
//   // margin-bottom: 50px;
//   z-index: 1000;

// }
.What-Make-Us-Special-container-card {
  width: 160.62px;
  height: 100px;
  position: relative;
  background: #ffc31a;
  box-shadow: 0px 2.34374px 14.855px rgba(255, 178, 14, 0.36);
  border-radius: 5.85934px;
  transform-style: preserve-3d;
  margin-bottom: 110px;
  // overflow: hidden;
}

.What-Make-Us-Special-container-card-font {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fafafa;
  box-shadow: 0px 2.34374px 2.34374px rgba(0, 0, 0, 0.25);
  border-radius: 5.85934px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  // transform-style: preserve-3d;
  // backface-visibility: hidden !important;
  // transition: 1s ease-in-out;
  // transform: perspective(500px) rotateY(0deg);
  z-index: 5;
}

.What-Make-Us-Special-icon {
  width: 46.87px;
  height: 46.87px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc31a;
  box-shadow: 0px 2.34374px 2.34374px rgba(0, 0, 0, 0.25);
  border-radius: 5.85934px;
  position: absolute;
  bottom: 70%;
}

.what-makes-ninjabox-special-logo {
  width: 46.87px;
  height: 46.87px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc31a;
  box-shadow: 0px 2.34374px 2.34374px rgba(0, 0, 0, 0.25);
  border-radius: 5.85934px;
  position: absolute;
  bottom: 70%;
}

.What-Make-Us-Special-container-card-font p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: #534848;
  margin-top: 27px;
  padding-bottom: 10px;
}

.What-Make-Us-Special-container-card-back {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  padding: 7px 3px;
  background: #ffc31a;
  box-shadow: 0px 2.34374px 2.34374px rgba(0, 0, 0, 0.25);
  border-radius: 5.85934px;
  height: 100%;
  width: 100%;
  // transform-style: preserve-3d;
  // backface-visibility: hidden !important;
  transition: 1s ease-in-out;
  // transform: perspective(500px) rotateY(0deg);
  z-index: -200;
}

.What-Make-Us-Special-container-card-back-img {
  height: 53px;
  width: 63px;
  object-fit: cover;
}

.What-Make-Us-Special-container-card-back-img img {
  height: auto;
  width: auto;
}

.What-Make-Us-Special-container-card-back p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  color: #4d555b;
}

.What-Make-Us-Special-container-card-back p span {
  font-weight: 900;
}

.What-Make-Us-Special-container-card:hover .What-Make-Us-Special-container-card-back,
.What-Make-Us-Special-container-card-font:hover .What-Make-Us-Special-container-card-back {
  //transform: translateY(555px);
  top: 70px;
}

.our-services,
.how-it-works,
.testimonials,
.news,
.categories,
.specials,
.custom-package-lower {
  padding: 40px;
  // box-shadow: 0px 4px 4px 0px #00000040;
  font-family: "Alegreya Sans", sans-serif;
  // margin-bottom: 150px;
}

.home-scroll {
  scroll-behavior: smooth;
}

.custom-package-lower {
  background: #fafafa;
}

.custom-package {
  .container {
    padding: 40px;
  }
}

.feed-back-container {
  display: none;
}

// feedback
.feed-back-container {
  width: 100%;
  height: 95px;
  background-color: #be2d30;

  .content-container {
    width: 99% !important;
    height: 95px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

.feed-back-container p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22.1997px;
  line-height: 27px;
  text-align: center;
  color: white;
  margin: 0;
}

.feed-back-container span {
  color: #ffc31a;
}

// carousel image
.image-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// categories-item
.categories-item-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  align-items: center;

  grid-row-gap: 30px;
}

.categories-item {
  position: relative;
  height: 207px;
  width: 265px;
}

.categories-item img {
  width: 270px !important;
}

.categories-item p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  background-color: #ffb800;
  height: 35px;
  width: 100%;
  margin: 0px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.categories-item:hover p {
  font-size: 20px;
  transition: 1s;
}

//  ninja box
.ninja-box-header-content {
  margin-top: 5px;
  font-family: 'Montserrat';
  //font-style: normal;
  font-weight: 500;
  font-size: 10.8px;
  line-height: 15px;
  text-align: start;
  color: #363D42;
}

.ninja-box-header-content span {
  font-weight: 900;
  font-size: 10.8px;
}

//for larger device
.lgd-ninja-box-header-content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #363D42;
  margin-top: 15px;
}

.lgd-ninja-box-header-content span {
  font-weight: bold;
}

.ninja-box-header-button {
  text-align: right !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ninja-box-header-button button {
  // background: #fff !important;
  // padding: 6px 18px !important;
  // color: #c22d2e !important;
  // border: 1px solid #c22d2e !important;
  // box-shadow: none !important;
  // border-radius: 6px !important;
  // font-weight: 800;
  padding: 15px 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22.1997px;
  line-height: 27px;
  border: 0;
  background: #FDC938;
  box-shadow: 2.77903px 3.70537px 9.26343px #BE2D30;
  border-radius: 18.99px;
}

// footer
.footer-contract {
  width: 260px !important;
  // min-width: 260px;
}

// .footer-logo{
//   display: flex !important;
//   justify-content: center !important;
//   flex-direction: column;
// }
// .categories .section-title h2{
// font-size: 41px;
// font-family: "Montserrat", sans-serif;
// font-weight: 700;
// line-height: 46;
// color: #2C3338;

// }

@media (max-width: 939px) {
  .section-title {
    h2 {
      font-size: 1.8rem !important;
    }
  }
}

.section-title {
  padding: 0 0 20px 0;
  margin-top: 60px;

}

.smd-section-title {
  margin-top: 40px;
  margin-bottom: 60px;
}

.smd-section-title h2 {
  font-weight: 600;
  font-size: 30px;
  border-bottom: 3px solid var(--ninja-red);
}

.section-title h2 {
  // font-family: "Forum", cursive;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 41px;
  text-align: center;
  color: #2c3338;
  border-bottom: 3px solid var(--ninja-red);
  margin-bottom: 30px;
}

.section-title h2 span {
  color: var(--ninja-red);
}

.smd-section-title h2 span {
  color: var(--ninja-red);
}

.our-services-title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 35px;
  border-bottom: 3px solid var(--ninja-red);
}

.our-services-box {
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  border-radius: 20px;
  // background: linear-gradient(
  //   166.25deg,
  //   #ecf1f4 18.65%,
  //   #f2f6f7 60.07%,
  //   #ffffff 101.11%
  // );
  background: #ffb800;
  // width: 374px;
  // height: 494px !important;
  margin-left: 20px;
  width: 344px;
  height: 484px !important;
  height: 100%;
  overflow: hidden;

  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0px 8.6837px 9.30396px rgba(255, 174, 0, 0.01),
    1px 1px 66px rgba(255, 178, 14, 0.36);
}

// flipping
.our-services-box .service-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 424px !important;
  transform-style: preserve-3d;
  backface-visibility: hidden !important;
  transition: 1s ease-in-out;
  transform: perspective(500px) rotateY(0deg);
}

.our-services-box .service-face.service-face2 {
  // background: linear-gradient(
  //   166.25deg,
  //   #ecf1f4 18.65%,
  //   #f2f6f7 60.07%,
  //   #ffffff 101.11%
  // );
  background: #ffffff;
  border-radius: 18px !important;
  z-index: 3;
}

.our-services-box-hover:hover .service-face.service-face2 {
  // transform: perspective(500px) rotateY(180deg);
  transform: translateY(-460px);
}

// .our-services-box-hover{
//   border-radius: 18px !important;
// }
.our-services-box .service-back {
  // position: absolute;
  // background: linear-gradient(166.25deg,
  // #ecf1f4 18.65%,
  // #f2f6f7 60.07%,
  // #ffffff 101.11%);
  // color: red;
  // display: none;
  // text-align: center;
  // padding: 20px 5px;
  height: 100%;
  // transform: perspective(500px) rotateY(180deg);
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // flex-direction: column;
}

.service-back p {
  background: #f1d07c;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 19px 23px 19px;
  border-radius: 13px;
  width: 266px;
  margin: 0 auto;
  margin-top: 51px;
  // height: 71px;
  // width: 266px;
}

.service-back-pic {
  margin: 0 auto;
}

.our-services-box-hover:hover .service-back {
  transform: perspective(500px) rotateY(360deg);
  display: block;
}

.our-services-box .title {
  // padding: 20px;
  color: var(--text-dark);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  text-align: center;
  margin-top: 44px;
}

.title {
  // padding: 20px;
  color: var(--text-dark);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
}

.title span {
  color: var(--ninja-red);
}

.our-services-box .title span {
  color: var(--ninja-red);
}

.our-services-box .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 237px !important;
  margin-top: 12px;
  margin-bottom: 18px;
  // padding: 20px 0;
}

.our-services-box .image2 {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 20px 0;
}

.our-services-box .image3 {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 20px 0;
}

.our-services-box .content {
  // padding: 20px;
  width: 100%;
  // background-color: #fafafa;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.our-services-box .content p {
  max-width: 250px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.our-services-box .content span {
  color: #be2d30;
}

.our-services-box .buttons {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.our-services-box .buttons button:first-child {
  margin-right: 30px;
}

.our-services-box .buttons button {
  // border: 1px solid var(--text-dark);
  border: none;
  color: var(--text-dark);
  background-color: #fafafa;
  padding: 2px 14px;
  border-radius: 20px;
  font-weight: 500;
  margin-bottom: 3px;
}

.view-details {
  &:hover {
    cursor: pointer;
    transform: scale(1);
    padding-bottom: 5px;
    box-shadow: 0px 6px 6px 0px #00000040;
  }
}

.sample-pricing {
  &:hover {
    cursor: pointer;
    transform: scale(1);
    padding-bottom: 5px;
    box-shadow: 0px 6px 6px 0px #00000040;
  }
}

.how-it-works {
  background: #fafafab2;
}

.how-it-works-box {
  // box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 8.6837px 9.30396px rgba(255, 174, 0, 0.01),
    1px 1px 66px rgba(255, 178, 14, 0.36);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;

  border-radius: 50px;
  height: 100%;
}

.how-work-title {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
}

// @media (max-width: 991px) {
//   .how-it-works-box {
//     box-shadow: none;
//   }
// }

.how-it-works-box .title {
  color: var(--text-dark);
  font-size: 22px;
  text-align: center;
  padding: 20px;
}

.how-it-works-box .content {
  text-align: left;
  letter-spacing: 3%;
  color: var(--text-light);
  //padding: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.header,
.ninja-header {
  margin-top: 80px;
  height: 457px !important;

  // background: linear-gradient(to left, #00000098, #0000008a),
  //   url("../../public/home/header-bg.jpg") no-repeat center center;
  // background-size: cover;
  // opacity: 60%;
  position: relative;
}

.ninja-header {
  display: flex;
}

.ninja-header #smallninja-container {
  margin: 0;
  padding: 0;
  margin-right: 0;
  box-sizing: border-box;
}

//small device
.testimonial-section {
  box-shadow: 0 4px 4px 0 #999966;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 6px;
  background-color: #ffb800;


}
.review-section img{
  //margin-left: -55px;
  margin-left: -95px;
  margin-top: 5px;
  height: auto;
  width: 60px;
  margin-bottom: 0%;
}
.review-section {
  #title{
  color: #6699ff;
  margin-left: -45px;
  margin-top: -20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 0%;
  }
}

//CARD REVIEW
.review-card{
  font-family: Montserrat;
  background-color: #ffb800;
  border-radius: 20px;
  width: 260px;
  .profile-img{
    img{
      margin-left: -10px;
      width: 70px;
      border-radius: 10px;
      background-color: white;
      padding: 2px;
    }
  }
  .text-section{
    img{
      width: 90px;
    }
    #title{
      color: #3399ff;
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }
    #description{
      color: #3399ff;
      font-size: 11px;
      margin: 0;
      margin-right: 0;
      line-height: 11px;
      font-weight: 100;
    }
  }
}

@media (min-width: 1200px) {
  .review-card{
    font-family: Montserrat;
    background-color: #ffb800;
    border-radius: 20px;
    width: 500px;
    .profile-img{
      img{
        margin-left: 0px;
        margin-top: 7px;
        width: 70px;
        border-radius: 10px;
        background-color: white;
        padding: 2px;
      }
    }
    .text-section{
      margin-top: 5px;
      margin-left: -30px;
    }
    .text-section{
      img{
        width: 90px;
      }
      #title{
        color: #3399ff;
        font-size: 13px;
        margin: 0;
        font-weight: bold;
      }
      #description{
        color: #3399ff;
        font-size: 11px;
        margin: 0;
        margin-right: 0;
        line-height: 11px;
      }
    }
  }
}

//style={{ color: "#6699ff", marginTop: "-43px", marginLeft: "18px", fontFamily: "Montserrat", lineHeight: "10px", fontSize: "10px" }}
.review-section #description{
  color: 6699ff;
  // margin-top: -43px;
  // margin-left: 18px;
  margin-right: 0%;
  margin-top: -20px;
  margin-bottom: 10px;
  font-family: Montserrat;
  line-height: 10.5px;
  font-size: 10.5px;
}

.img-section img{
  margin: 5px;
  height: auto;
  width: 70px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  padding: 4px;
}

// .testimonial-section::after {
//   content: "";
//   //margin-right: 20px;
// }

// home right container
.header-right-container {
  // padding: 50px 74px 26px 74px;
  width: 29%;
  // padding: 50px;
  height: 450px;
  position: absolute;
  ;
  // box-shadow: 0px 4px 4px 0px #00000040;
  right: 0;
  // display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ninja-header-right-container {
  padding: 50px 74px 26px 74px;
  width: 29%;
  // padding: 50px;
  height: 457px;
  position: absolute;
  background: #FFC31A;
  // box-shadow: 0px 4px 4px 0px #00000040;
  right: 0;
  // display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.smd-ninja-header-right-container {
  background: #FFC31A;
  padding-top: 50px;
}

.ninja-box-ninja-header {
  background-color: #FFF2F2;
}

// home title
.header-right-container .header-title {
  font-weight: 500;

  color: var(--text-dark);
  padding: 10px 0;
  letter-spacing: -2px;
  // height:auto ;
  // width: auto;

  margin: 0 auto;
  margin-top: 20px;
  // object-fit: cover;
}

.ninja-header-right-container .header-title {
  font-weight: 500;
  font-size: 44px;
  color: var(--text-dark);
  padding: 10px 0;
  letter-spacing: -2px;
  // height: 80px;
  width: 14rem;
  margin: 0 auto;
  margin-top: 20px;

}

.ninja-box-header-title {
  margin-left: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 112%;
  /* or 62px */


  color: #0A1622;
}

//FOR LAGRE DEVICE
.lgd-ninja-box-header-title {
  margin-left: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 112%;
  /* or 62px */


  color: #0A1622;
}

.ninja-box-header-logo {
  width: 134px !important;
  height: 27px !important;

  margin: 0 auto;
}

// bootstrap carousel icon change
.carousel-control-prev-icon {
  background-color: #BE2D30 !important;
  margin-left: -120px;
  width: 23px !important;
  height: 23px !important;
  opacity: 1 !important;
}

.carousel-control-next-icon {
  background-color: #5f2223 !important;
  margin-right: -120px;
  width: 23px !important;
  height: 23px !important;

}

#smallninja-container .carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}

#smallninja-container .carousel-indicators {
  margin-bottom: -20px;
}

.ninja-box-header-title span {
  color: #ffffff;
}

//for large device
.lgd-ninja-box-header-title span {
  color: #ffffff;
}

.header-title-two {
  font-weight: 400;
  font-size: 18px;
  // height: 80px;
  font-family: "Montserrat";
  // width: 360px;

  margin: -15px auto;
  margin-bottom: 20px;


}

.header-title-two p {
  margin: 0 !important;
  text-align: center;
}

.ninja-header-right-container .header-title {
  letter-spacing: inherit;
  text-align: end !important;
}

.header-right-container .header-title span,
.ninja-header-right-container .header-title span {
  color: var(--ninja-red);
}

.ninja-header-left-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ninja-box-header-left-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.video-player {
  width: 617px;
  height: 370px;
  margin-top: 30px;
  background: transparent;
  // margin-left: auto;
  // margin-right: auto;
  z-index: 2;
}

.ninja-box-carouserl {
  margin-top: 30px;

  .inner-slide {
    text-align: center;
    height: 100px;
    margin-right: 10px;
    background: #edeef1;

  }
}

.ninja-box-carouserl-container {
  display: flex;
  flex-direction: column;

  .inner-slide {
    text-align: center;
    width: 137px;
    height: 82.89px;
    margin-right: 10px;
    background: #edeef1;
    margin-bottom: 13px;
  }
}

.ninja-box-ninja-img {
  margin-top: -14px;
  margin-left: 35px;
}

//large device
.lgd-ninja-box-ninja-img {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-content {
  color: var(--text-dark);
  // font-family: "Great Vibes", cursive;
  font-size: 28px;
  // padding: 20px 0 30px 0;
  height: 315px;
  width: 200px;
  margin-left: 60px;
  margin-top: -10px;
  position: relative;
}

.ninja-header-right-container .header-content {
  padding: 20px 0 30px 0;
  text-align: end;
}

.header-right-container .header-button button,
.ninja-header-right-container .header-button button {
  background: var(--ninja-red);
  padding: 6px 18px;
  color: #ffffff;
  border: 1px solid var(--ninja-red);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 50px;
}

.header-button {
  button {
    background: #ffc31a !important;
    padding: 6px 18px !important;
    margin-left: 50px;
    color: #363d42 !important;
    width: 200px;
    height: 56px;
    border: 0 !important;
    font-family: "Montserrat";
    // box-shadow: 0px 4px 4px 0px #c22d2e ;
    box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    left: 0px;

    &:hover {
      background-color: #c22d2e !important;
      color: white !important;
      border: 1px solid #c22d2e !important;
      padding: 6px 18px !important;
    }
  }
}

.ninja-header-right-container .header-button {
  text-align: right !important;
}

.header-left-container {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.left-box {
  padding: 10px;
  background: #fafafacc;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: var(--text-dark);
  font-family: "poppins", sans-serif;
  max-width: 250px;
  position: relative;
  margin-bottom: 20px;
}

.left-box-mobile {
  margin: 0 auto;
  padding: 10px;
  background: #fafafacc;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: var(--text-dark);
  font-family: "poppins", sans-serif;
  max-width: 250px;
  position: relative;
  margin-bottom: 0px;
}

.header-button-mobile {
  margin-top: 10% !important;
}

.rating svg {
  color: var(--ninja-red);
}

.news-item img {
  width: 100px;
  height: 60px;
}

.testimonials-sub-title {
  margin-top: -20px;
  padding-bottom: 30px;
  color: var(--text-light);
  text-align: center;
}

.reveal {
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(-70px);
  opacity: 1;
}

.testimonials-content {
  background: linear-gradient(166.25deg,
      #ecf1f4 18.65%,
      #f2f6f7 60.07%,
      #ffffff 101.11%);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 50px;
}

.header-carousel {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.testimonials-carousel {
  background: #fafafacc;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 30px;
  margin-top: 10px;
}

.review-button {
  padding: 20px 5px;
  text-align: center;
}

.review-button button {
  padding: 6px 15px;
  background: #c22d2e;
  border: 1px solid #c22d2e;
  color: #ffffff;
  border-radius: 50px;
}

.mobile {
  .image {
    display: block;
    position: relative;
  }
}

.testimonials-item {
  padding: 10px;
  position: relative;
  height: fit-content;

  .description {
    float: left;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 20px;
    margin-right: 20px;
    width: 20%;
  }

  .image {
    width: 25%;
    display: inline-block;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .content {
    padding-left: 20px;
    width: 50%;
    float: right;
    text-align: justify !important;

    span {
      color: #cb4c39;
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

.slick-slide {
  height: 100% !important;
}

.mobile {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  height: 100% !important;

  .description {
    float: none;
  }

  .content {
    display: block;
    padding: 0 !important;
    position: relative !important;
    float: none !important;
  }

  .image {
    margin: 0 auto;
    width: fit-content !important;
    display: block !important;
    position: relative !important;
  }

  span {
    font-size: 28px;
  }
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #cb4c39 !important;
}

.slick-dots li button:before {
  opacity: 1 !important;
  color: #f0c0c2 !important;
}

.specials {
  background: linear-gradient(166.25deg, #ecf1f4 18.65%, #f2f6f7 60.07%, #ffffff 101.11%);
}

.specials-item {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 50px;
  background: #fafafa;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  .item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 200px;
  }

  .item-title {
    font-size: 20px;
    color: var(--text-dark);
    padding-bottom: 20px;
    text-align: center;
    font-weight: 500;
    margin: auto;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 5px;

      &::before {
        content: "\2022";
        color: #c22d2e;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        margin-left: -1rem;
      }
    }
  }
}

.custom-package-description {
  color: #372f31;
  font-style: italic;

  span {
    padding-bottom: 10px;
  }

  h1 {
    letter-spacing: 1.3px;
    padding-bottom: 20px;
    font-weight: 400 !important;
  }

  button {
    border: 1px solid var(--ninja-red);
    color: #ffffff;
    background-color: var(--ninja-red);
    padding: 6px 15px;
    border-radius: 50px;
    font-weight: 300;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.custom-package {
  background: linear-gradient(166.25deg,
      #ecf1f4 18.65%,
      #f2f6f7 60.07%,
      #ffffff 101.11%);

  label {
    padding-right: 15px;
    color: var(--text-dark);
  }

  select {
    border-radius: 0 !important;
    padding: 5px 10px;
    background: #fafafacc;
    border: 1px solid #000000;
    width: 120px;
    color: var(--text-dark);

    &:focus {
      outline: 0;
    }
  }
  
  .checkbox-container {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 50px !important;
    width: 240px;
    height: 36px;
    font-size: 18px;
    position: relative;
    margin-left: 20px;

    input {
      width: 100% !important;
      height: 100%;
      margin-bottom: 0px !important;
      -webkit-appearance: none !important;
      border: 0;
      border-radius: 50px !important;
      background: #ffffff;

      &::before {
        z-index: 2;
        content: "Veg";
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-self: center;
        position: absolute;
        width: 120px;
        height: 100%;
        border-radius: 50px;
        top: 0;
        left: 0;
        background: #455c24;
        transition: 0.5s;
      }

      &::after {
        position: absolute;
        right: 20px;
        content: "Non-Veg";
        color: #b9b9b9;
      }
    }

    input:checked {
      background: #ffffff;

      &::before {
        z-index: 2;
        left: 120px;
        border-radius: 50px;
        background: red;
        content: "Non-Veg";
      }

      &::after {
        left: 20px;
        content: "Veg";
      }
    }
  }

  .container {
    background: #fafafacc !important;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .section-title {
    span {
      color: var(--ninja-red);
    }
  }

  .ninja-package-item {
    font-family: "Alegreya Sans SC", sans-serif;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #fafafa;
    padding: 20px 30px;
    border-radius: 50px;

    .package-name {
      color: #372f31;
      text-transform: uppercase;
      padding-bottom: 20px;
      letter-spacing: 1.2px;
      font-size: 20px;
    }

    .package-content {
      padding-bottom: 15px;
    }

    .package-price {
      svg {
        padding-right: 10px;
      }
    }

    button {
      box-shadow: 0px 4px 4px 0px #00000040;
      padding: 8px 16px;
      border-radius: 50px;
    }

    .bg-red {
      border: 1px solid var(--ninja-red);
      background: var(--ninja-red);
      color: #ffffff;
    }

    .bg-white {
      color: var(--text-dark);
      border: 1px solid var(--text-dark);
      background: #fafafa;
    }
  }
}

.bg-red {
  &:hover {
    //ninja red
    background: #ee5a1f !important;
    padding-bottom: 10px !important;
  }
}

.bg-white {
  &:hover {
    padding-bottom: 10px !important;
  }
}

.custom-package-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// banner mobile
.banner-mobile-slide-container {
  background-color: #ffc31a;
  height: 560px;
  position: relative;
}

.banner-mobile-image-container {
  width: 100%;
  height: 436px;
  position: relative;
}

.banner-btn-container {
  position: absolute;
  display: flex;
  bottom: 41px;
  width: 100%;
  // left: calc(50%-326px);
}

.banner-btn-container button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: #ffffff;
  border-radius: 6px;
  width: 157px;
  height: 47px;
  border: 0;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.center-banner-btn {
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

// .center-banner-btn:nth-child(1){
//   margin-right: 12px !important;
// }
.banner-btn-container span {
  color: #be2d30;
}

.see-more-below-btn {
  border: 0;
  width: 93px;
  height: 22.79px;
  position: absolute;
  //font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  background: #e23d1c;
  box-shadow: 1.5071px 2.00946px 5.02365px rgba(0, 0, 0, 0.25);
  border-radius: 13.3127px;
  right: 20px;
  top: 87px;
  color: white;
}

// ------------Responsive-----------------

@media screen and (max-width: 1200px) {

  // // categories-item
  .categories-item-container {

    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    grid-row-gap: 30px;

  }

  .our-services-box .buttons {
    flex-direction: column;
  }

  .our-services-box .buttons button:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .our-services-box .buttons button {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {

  // what make us special
  .What-Make-Us-Special {
    display: block;
  }

  // 
  .feed-back-container {
    display: block;
  }

  .header {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  // ninja box slider

  .ninja-box-carouserl {
    .inner-slide {
      height: 150px !important;
    }
  }

  .testimonials-carousel {
    padding: 20px 10px !important;
  }

  .video-player {
    z-index: auto;
  }
}

.mobile-card-container {
  display: none;
}

@media (max-width: 939px) {

  // category 
  .categories-item-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;

  }

  // service box new design

  .our-services {
    padding: 0;
  }

  .mobile-card-container {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;

    padding: 20px;
  }

  .mobile-card-container::-webkit-scrollbar {
    display: none;
  }

  .our-services-box {
    width: 234px !important;
    height: 309px !important;
    margin-right: 20px;
    margin-left: 10px;
  }

  .our-services-box .service-face {
    height: 265px !important;
  }

  // img 1
  .our-services-box .image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px !important;
    margin-bottom: 17px !important;
  }

  .our-services-box .image1 img {
    width: 166.9px;
    height: 129.11px;
  }

  // img2
  .our-services-box .image2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px !important;
    margin-bottom: 17px !important;
  }

  .our-services-box .image2 img {
    width: 152.92px;
    height: 127.86px;
  }

  // img 3
  .our-services-box .image3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px !important;
    margin-bottom: 14px !important;
  }

  .our-services-box .image3 img {
    width: 129.57px;
    height: 148.77px;
  }

  // img 4
  .our-services-box .image4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .our-services-box .image4 img {
    width: 158.65px;
    height: 141.72px;
  }

  // img 5
  .our-services-box .image5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px !important;
    margin-bottom: 17px !important;
  }

  .our-services-box .image5 img {
    width: 149.47px;
    height: 147.25px;
  }

  // img 6
  .our-services-box .image6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 21px !important;
    margin-bottom: 13px !important;
  }

  .our-services-box .image6 img {
    width: 129.54px;
    height: 136.98px;
  }

  .service-back-picmb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height:151.67px ;
    min-height: 140.67px;
    object-fit: cover;
  }

  // .header {
  //   margin-top: 80px !important;
  //   padding-top: 20px;
  // }
  .our-services-box .title {
    // padding: 20px;
    font-weight: 700;
    font-size: 20.9627px;
  }

  .our-services-box .content p {
    font-weight: 600;
    font-size: 9.42994px;
    line-height: 11px;
  }

  .our-services-box .title {
    margin-top: 27px;
  }

  .our-services-box .image {
    height: auto !important;
  }

  .service-back-pic {
    width: 189.9px !important;
    height: 151.67px !important;
  }

  .service-back p {
    font-weight: 600;
    font-size: 10.5928px !important;
    line-height: 14px;
    padding: 11px 11px 12px 5px !important;
    width: 166px;
    margin-bottom: 12px;
  }

  .our-services-box .buttons button {
    padding: 0;
    // padding: 8px 3px 4px 9px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 8.2481px;
    margin-bottom: 10px;
    width: 68px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our-services-box .buttons button:first-child {
    margin-bottom: 10px !important;
    margin-right: 20px;
  }
}

//CUSTOM PACKAGE SECTION for Small Device
.custom-package-smallD{
  text-align: center;
  background-color: #ffffe6;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 0%;
  h1{
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: bolder;
    span {
      color: var(--ninja-red);
    }
  }

  h2{
    margin-top: -10px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 25px;
  }

  h6{
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 400;
    span {
      color: var(--ninja-red);
    }
  }
  .checkbox-container {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 50px !important;
    width: 200px;
    height: 36px;
    font-size: 18px;
    position: relative;
    margin-left: 20px;

    input {
      width: 100% !important;
      height: 100%;
      margin-bottom: 0px !important;
      -webkit-appearance: none !important;
      border: 0;
      border-radius: 50px !important;
      background: #ffffff;

      &::before {
        z-index: 2;
        content: "Veg";
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-self: center;
        position: absolute;
        width: 100px;
        height: 100%;
        border-radius: 50px;
        top: 0;
        left: 0;
        background: #455c24;
        transition: 0.5s;
      }

      &::after {
        position: absolute;
        right: 20px;
        content: "Non-Veg";
        color: #b9b9b9;
      }
    }

    input:checked {
      background: #ffffff;

      &::before {
        z-index: 2;
        left: 100px;
        border-radius: 50px;
        background: red;
        content: "Non-Veg";
      }

      &::after {
        left: 20px;
        content: "Veg";
      }
    }
  }

  .dropdown-label{
    font-family: "Montserrat";
    p{
      color: var(--ninja-red);
      font-weight: bolder;
      font-size: 20px;
      margin-bottom: 1px;
    }
    #cities, #guestNo{
      width: 140px;
      font-weight: 100;
      border-radius: 0;
      border: 1px solid;
      option {
        text-align: center;
        font-size: 12px;
      }
    }
  }

}

//Create your ow package - Mobile device
.create-your-own-package{
  background-color: #FFC31A;
  font-family: "Montserrat";
  padding-top: 25px;
  padding-bottom: 25px;
  #leftside img{
    width: 165px;
  }
  #rightside{
    img{
      margin-top: 45px;
      margin-left: 60px;
      width: 75px;
    }
    h2{
      margin-left: 60px;
      font-size: 30px;
      font-weight: bolder;
      span{
        color: white;
      }
    }
    p {
      font-weight: 500;
      margin-left: 60px;
      margin-top: -5px;
      font-size: 9px;
      span{
        font-weight: bolder;
      }
    }
  }
}

.btmSectnText{
  font-family: "Montserrat";
  p{
    font-size: 15px;
    color: white;
    margin-top: 5px;
    margin-left: 30px;
  }
  h2{
    margin-top: -15px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bolder;
    span{
      color: var(--ninja-red);
    }
  }
  h6{
    margin-top: -5px;
    margin-left: 30px;
    font-family: "Montserrat";
    font-size: 13.5px;
    font-weight: bold;
  }
  button{
    background-color: var(--ninja-red);
    color: white;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 190px;
    box-shadow: 0px 3px 10px 0px black;
  }
}

// bg for mobile header section
@media screen and (max-width: 915px) {

  .header,
  .ninja-header {
    height: 650px;
  }
}

@media screen and (max-width: 768px) {

  .custom-package {
    label {
      padding-right: inherit;
      padding-bottom: 20px;
    }
  }

  .checkbox-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .our-services-box .buttons {
    flex-direction: row;
  }

  .our-services-box .buttons button:first-child {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .testimonials-item {
    .description {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }

    .image {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .content {
      width: 100%;
      display: inline-block;
      float: none;
      margin-bottom: 20px;
    }
  }

  .ninja-package-item {
    text-align: center;
  }
}

//Large device
.lgd-packageNameSection{
  margin-top: 0;
  width: 350px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px 10px  #fff0b3;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Montserrat";
  .packageImg img{
    margin-right: 30px;
    margin-left: 30px;
    width: 220px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--ninja-red)
  }
  //select and customise Buttons
  #selectBtn{
    color: white;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--ninja-red);
  }
  #customiseBtn{
    border: 1px solid black;
    font-size: 12px;
    font-weight: 500;
    background-color: #FFC31A;
  }
}

.packageNameSection{
  margin-top: 0%;
  width: 350px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px 10px  #fff0b3;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Montserrat";
  .packageImg img{
    margin-right: 30px;
    margin-left: 30px;
    width: 220px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--ninja-red)
  }
  //select and customise Buttons
  #selectBtn{
    color: white;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--ninja-red);
  }
  #customiseBtn{
    border: 1px solid black;
    font-size: 12px;
    font-weight: 600;
    background-color: #FFC31A;
  }
}

.packagesName {
  h4{
    margin-top: 15px;
    font-size: 14px;
  }
  h3{
    margin-top: 20px;
    margin-bottom: -10px;
  color: black;
  span{
    color: #FFC31A;
  }
  }
  p{
    font-size: 11px;
    margin-bottom: 30px;
  }
}

//Package Carousel
.package-carousel{
  width: 250px;
}

.packageContainer{
  display: none;
}
.packageContainer {
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  padding: 20px;
}

.packageContainer::-webkit-scrollbar {
  display: none;
}



//
@media only screen and (max-width: 620px) {

  // categories-item
  .categories-item-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .categories-item {
    height: 120px;
    width: 90%;
    //height: auto;
  }

  .categories-item p {
    font-weight: 600;
    font-size: 10px;
  }

  .categories-item:hover p {
    font-size: 11px;
  }

}

@media only screen and (max-width: 576px) {
  .how-it-works-box {
    border-radius: 20px;
  }

  .how-work-title {

    font-size: 10px;

  }

  .how-it-works-box .content {
    font-size: 9px;
  }
}

@media only screen and (max-width: 420px) {

  .how-it-works,
  .testimonials,
  .news,
  .categories,
  .specials,
  .custom-package-lower {
    padding: 20px;
  }

  .custom-package {
    .container {
      padding: 20px;
    }
  }

  .header-button button {
    margin-bottom: 20px !important;
  }

  .inner-slide {
    width: 130px;
  }

  .inner-slide img {
    object-fit: cover;
  }

  .ninja-box-carouserl {
    margin-bottom: 50px;
  }

  .video-player {
    height: 250px;
    margin-top: 0px;
  }

  .ninja-header {
    margin-top: 0px !important;
  }

  .our-services-box-hover .flip-card {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    animation-name: bounce;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-20px);
    }

    60% {
      transform: translateY(-10px);
    }
  }

  .our-services-box .title {
    margin-left: 27px;
  }

  .What-Make-Us-Special-container-card {
    margin-right: 3px;
  }

  .What-Make-Us-Special-container-card-back {
    top: 70px;
  }

  .our-services-box .buttons {
    // flex-direction: column;
  }

  // .our-services-box .buttons button:first-child {
  //   margin-bottom: 10px;
  //   margin-right: 0;
  // }

  .custom-package {
    select {
      width: 90%;
    }
  }

  .custom-package .ninja-package-item {
    margin: 10px;
  }
}

@media screen and (max-width: 300px) {
  .custom-package .ninja-package-item {
    margin-left: 0;
    margin-right: 0;
  }

  .checkbox-container {
    width: 180px !important;
    height: 30px !important;

    input {
      &::before {
        width: 90px !important;
        height: 100% !important;
      }
    }

    input:checked {
      &::before {
        left: 90px !important;
      }

      &::after {
        left: 20px !important;
      }
    }
  }

  .custom-package .ninja-package-item {
    button {
      font-size: 14px;
      padding: 8px 10px;
    }
  }
}

@media (min-width: 421) and (max-width: 939px) {
  .ninja-header {
    margin-top: 80px !important;
  }

  .header-button button {
    margin-bottom: none !important;
  }
}

@media (max-width: 939px) {
  .ninja-header-left-container {
    display: none;
  }

  .ninja-header {
    height: fit-content !important;
    display: block;
    position: relative;
  }

  .ninja-header-right-container {
    width: 100%;
    position: relative;
    height: fit-content !important;

    .description {
      display: block;
      height: fit-content;
    }
  }

  .header-title {
    width: 567px;
    height: 114px;
    margin: 0 auto;
    text-align: center !important;
  }

  .header-button {
    button {
      display: block;
      margin: 0 auto !important;
    }
  }

  .ninja-box-carouserl {
    width: 100vw !important;
  }

  .video-player {
    //width: 100% !important;
    width: 325px;
    display: block;
    position: relative;
  }

  .header-content {
    margin: 0 auto;
    width: 70%;
    text-align: center !important;
  }

  .inner-slide {
    height: 50px !important;
  }
}

// media query for

@media (max-width: 1200px) {
  // .our-services-box {
  //   min-height: 670px;
  // }
}

@media (max-width: 990px) {

  // .our-services-box {
  //   min-height: 650px;
  // }
  .service-back p {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  // .our-services-box {
  //   min-height: 660px;
  // }
}

.image-container {
  height: 450px;
  width: 100%;
}

.containerHeader {
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .testimonialsContainer .testimonial-section {
    width: 400px;
    box-shadow: 0 4px 4px 0 #999966;
    margin: 0;
    padding: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 15px;
    background-color: #ffb800;
    padding-bottom: 10px;
  }
  .review-section img{
    margin-left: -170px;
    height: auto;
    width: 100px;
  }
  .review-section #title{
    color: #6699ff;
    margin-left: -105px;
    text-align: start;
    font-size: 15px;
  }
  .review-section #description{
    font-size: 15px;
    line-height: 15px;
  }
  .img-section img{
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    margin: 20px;
    margin: auto;
    width: 70px;
    background-color: white;
  }

}