.instantQuoteBody {
    font-family: "Montserrat", sans-serif;
    button:hover{
        background-color: #BE2D30;
        color: white;
    }
}

.instantContainer {
    margin-top: 80px;
}

.header {
    height: 258px;
    background-color: #FFC31A;
}

.headerIcon {
    text-align: center;
    padding-top: 30px;

    img {
        height: 202px;
        width: 1001px;
    }
}

.secondContentBg {
    background-color: #BE2D30;
    padding-top: 60px;
    padding-bottom: 80px;
}

.insidebg {
    background-color: #F8F8F8;
    padding-top: 60px;
    text-align: center;
    margin-inline: 220px;
    padding-bottom: 80px;
}

.citycontainer {
    h3 {
        font-size: 29;
        font-weight: 600;
        letter-spacing: 0.05em;
    }
}

.cityIcon {
    img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 127px;
        height: 120;
        background-color: white;
        border-radius: 10px;
        margin-inline: 25px;
        box-shadow: 0px 5px 10px 0px #BCBCBC;
    }
}

.ocassion {
    h3 {
        margin-top: 60px;
        font-size: 29;
        font-weight: 600;
        margin-bottom: 30px;
        letter-spacing: 0.05em;
    }
}

.fstbtn {
    button {
        margin-inline: 12px;
        font-size: 16.94px;
        font-weight: 600;
        width: 203px;
        height: 48px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 2px #BCBCBC;
        margin-bottom: 20px;
        letter-spacing: 0.05em;
    }
}

.secbtn {
    button {
        margin-inline: 12px;
        font-size: 16.94px;
        font-weight: 600;
        width: 203px;
        height: 48px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 2px #BCBCBC;
        letter-spacing: 0.05em;
    }
}

.guestCount {
    margin-top: 100px;
    background-color: #F2F2F2;
    margin-inline: 200px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px #BCBCBC;

    h3 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
        letter-spacing: 0.05em;
    }

    button {
        margin-inline: 10px;
        width: 203px;
        height: 48px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 0px #BCBCBC;
        font-size: 16.94px;
        color: #BCBCBC;
        font-weight: 600;
        letter-spacing: 0.05em;
    }
}

.guestBtn1 {
    background-color: #4E810A;
}

.guestBtn2 {
    background-color: #BE2D30;
}

.eventDate {
    margin-top: 80px;

    h3 {
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0.05em;
    }

    .datePicker {
        margin-inline: 320px;
    }
}

.menuContainer {
    background-color: white;
    margin-inline: 220px;
    padding-bottom: 80px;

    h1 {
        padding-top: 50px;
        padding-bottom: 40px;
        font-size: 44px;
        font-weight: bold;
        letter-spacing: 0.05em;
    }

    h5 {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
        letter-spacing: 0.05em;
    }
}

.fstItem {
    height: 106px;
    width: 778px;
    background-color: #F8F8F8;
    margin: auto;
    border-radius: 10px;
    display: flex;

    h4 {
        font-size: 20.8px;
        font-weight: 600;
        margin-bottom: 0;
        letter-spacing: 0.05em;
    }

    p {
        margin-top: 0px;
        margin-left: 0;
        font-size: 12.8px;
        font-style: italic;
    }
}

.itemImage {
    height: 106px;
    width: 120px;
    border-radius: 10px;
}

.vegLogo {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 3px;
    height: 19px;
    width: 19px;
}

.itemDetailsContainer {
    display: flex;
    margin-top: 12px;
}

.downarrowLogo {
    width: 23px;
    height: 15px;
    margin: 30px 0px 0px 50px;
}

.quantityBtn {
    margin: auto;
    margin-left: 120px;
    margin-top: 10px;
    display: flex;
    width: 176px;
    height: 48px;
    background-color: white;

    button {
        height: 48px;
        width: 48px;
        background-color: #FFC31A;
        border: none;
        font-size: 26.68px;
        font-weight: 600;
        box-shadow: 0px 5.05263px 5.05263px rgba(0, 0, 0, 0.25);
    }

    h6 {
        margin: auto;
        font-size: 16.42px;
        font-weight: 600;
        letter-spacing: 0.05em;
    }
}

.recQnty {
    font-size: 12.8px;
    font-style: italic;
    color: #4E810A;
    padding-left: 145px;
    padding-top: 8px;
    letter-spacing: 0.05em;
}

.trassLogo {
    width: 17px;
    height: 19px;
    margin-left: 45px;
}

.addStarterBtnContnr{
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
    margin-top: 20px;
}

.addStarterBtn {
    border: none;
    background-color: white;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #BE2D30;
}

.mainsTitle{
    margin-top: 60px;
}

.mainsContainer{
    margin-top: 60px;
}
.dessertsContainer{
    margin-top: 60px;
}

//DETAILS CONTAINER
.detailsContainer{
    margin-inline: 220px;
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    h3{
        font-weight: 600;
        font-size: 26px;
        padding: 20px;
        letter-spacing: 0.05em;
    }
    button{
        margin-top: 50px;
        border: none;
        border-radius: 10px;
        width: 275.24px;
        height: 51.29px;
        background-color: #BE2D30;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 23.29px;
        letter-spacing: 0.03em;
    }
}
.inputContainer{
    margin: auto;
    background-color: #FFC31A;
    width: 818px;
    height: 157px;
    border-radius: 20px;
}
.inputField{
    display: flex;
    justify-content: center;
    input{
        width: 238px;
        height: 36px;
        margin-inline: 20px;
        background-color: #FFFFFF;
        font-size: 19px;
        border-radius: 10px;
    }
    input::placeholder{
        color: #BE2D30;
        font-weight: 600;
        letter-spacing: 0.05em;
    }
}

.specialRestrictionContainer{
    margin-top: 80px;
    h6{font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.05em;
    }
    input{
        margin: auto;
        width: 549px;
        height: 69px;
        border-radius: 10px;
        border: none;
    }
}