@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

.mainBody {
    font-family: "Montserrat", sans-serif;
    background-color: #FFE8CA;
    //padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0%;

    h2 {
        margin-top: 30px;
        color: #2C3338;
        text-align: center;
        font-size: 17.585px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.879px;
        text-transform: capitalize;
    }
}

.topheader {
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;

    h3 {
        text-align: center;
        padding: 3px;
        width: 190px;
        height: 17.59px;
        border-radius: 39.88px;
        background-color: #FEEEDD;
        color: #F09C18;
        font-size: 9.334px;
        font-weight: 800;

        span {
            color: #222221;
        }
    }

    h4 {
        margin: auto;
        padding-top: 2px;
        text-align: center;
        width: 100px;
        height: 14px;
        flex-shrink: 0;
        border-radius: 7.003px;
        background: #222221;
        color: #FEEEDD;
        font-size: 7.958px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        span {
            color: #F1A42B;
        }
    }

    .servicebenefits {
        margin-top: -15px;
        padding-top: 13px;
        padding-left: 10px;
        width: 205px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 6.592px;
        background: linear-gradient(180deg, #FFCA24 0%, #A06200 100%);
        box-shadow: 0px 1.0140844583511353px 1.0140844583511353px 0px rgba(0, 0, 0, 0.25);

        li {
            color: #222221;
            font-size: 7.352px;
            font-style: normal;
            font-weight: 600;
            line-height: 10px;

            span {
                font-weight: 700;
            }
        }
    }
}

.inputBox {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: #FFE8CA;
    padding-top: 20px;
    padding-bottom: 15px;

    h6 {
        font-weight: 700;
        font-size: 15.8412px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #222221;
    }

    select {
        margin-bottom: 40px;
        width: 127.95px;
        height: 23.15px;
        background: #FAFAFA;
        border: 0.609278px solid #000000;
        border-radius: 6.09278px;
        font-weight: 500;
        font-size: 12.1856px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #534848;
    }

    input {
        width: 127.95px;
        height: 23.15px;
        background: #FAFAFA;
        border: 0.609278px solid #000000;
        border-radius: 6.09278px;
        font-weight: 500;
        font-size: 12.1856px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #534848;
    }
}

.headerSectn {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 50px;

    .logo {
        margin-left: 5px;
        margin-top: -18px;
        position: absolute;
        z-index: 1;
    }

    .headerDetails {
        margin: auto;
        position: relative;
        width: 324px;
        height: 50px;
        background: #FFE8B8;
        box-shadow: 0px 0.75607px 4.8307px rgba(0, 0, 0, 0.19);
        border-radius: 4.75014px;
        display: flex;
        justify-content: space-evenly;
        padding-left: 80px;
        padding-top: 9px;

        h6 {
            text-align: start;
            font-weight: 600;
            font-size: 9.84px;
            letter-spacing: 0.05em;
            color: #222221;

            span {
                color: #B47303;
            }
        }
    }
}

.pkgHeader {
    margin-top: -45px;
    display: flex;
    justify-content: space-evenly;

    h6 {
        padding: 2px 8px;
        border-radius: 7.003px;
        background-color: #222221;
        color: #FEEEDD;
        text-align: center;
        font-size: 7.958px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        span {
            color: #F1A42B;
        }
    }
}

.card {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    width: 155.378px;
    height: 219.937px;
    border: 1px solid #BC0A01;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;

    .blackCard {
        padding-top: 15px;
        margin: auto;
        border-radius: 5px;
        width: 141.518px;
        height: 206.441px;
        background-color: #222221;
        filter: drop-shadow(0px 0.8502262234687805px 0.8502262234687805px rgba(0, 0, 0, 0.25));

        h5 {
            margin-left: 5px;
            text-align: start;
            color: #FEEEDD;
            font-size: 10.363px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            span {
                font-size: 7.809px;
                font-style: italic;
            }
        }
    }

    // .pkgtag{
    //     position: absolute;
    //     margin-top: -15px;
    //     margin-left: 5px;
    // }
}

.nvtag {
    width: 132.596px;
    height: 23.649px;
    position: absolute;
    margin-top: -18px;
    margin-left: 5px;
    z-index: 1;

    h4 {
        padding-top: 5px;
        color: #000;
        text-align: center;
        font-size: 11.296px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
}

.carousel {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 20px;
    //gap: 20px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.selectPkgBtn {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    margin-inline: 25px;

    button {
        background: linear-gradient(180deg, #FF9927 50%, #A36300 120%);
        box-shadow: 0px 5.754745960235596px 5.754745960235596px rgba(0, 0, 0, 0.25);
        width: 94.066px;
        height: 23.634px;
        border-radius: 31.65px;
        border: none;
        color: #222221;
        text-align: center;
        font-size: 13.818px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.selectNvPkgBtn {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    margin-inline: 25px;

    button {
        background: linear-gradient(180deg, #FFD03B 50%, #6B4200 120%);
        box-shadow: 0px 5.754745960235596px 5.754745960235596px rgba(0, 0, 0, 0.25);
        width: 94.066px;
        height: 23.634px;
        border-radius: 31.65px;
        border: none;
        color: #222221;
        text-align: center;
        font-size: 13.818px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.customCard {
    text-align: center;
}

.smselectItemSearchBox {
    margin: auto;
    width: 150px;
    height: 14px;
    background: #FFE9D9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

    h6 {
        margin-top: 3px;
        font-weight: 700;
        font-size: 6px;
        color: rgba(44, 51, 56, 0.66);
    }
}

.addMoreBtn {
    button {
        width: 55px;
        height: 11px;
        flex-shrink: 0;
        border-radius: 6.327px;
        border: 0.218px solid #BE2D30;
        background: #FFDDB5;
        color: #BE2D30;
        text-align: center;
        font-size: 6px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.245px;
        text-transform: capitalize;
    }
}

.createPkgBtn {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 40px;

    button {
        border: none;
        width: 165.075px;
        height: 25.575px;
        flex-shrink: 0;
        border-radius: 15.362px;
        background: #E23D1C;
        box-shadow: 0px 2.77959942817688px 2.77959942817688px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-size: 10.624px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        /* 14.874px */
    }
}

.bottomtag {
    margin: auto;
    width: 329px;
    height: 27px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 7px;

    h6 {
        font-weight: 800;
        font-size: 9.52997px;
        color: #222221;
    }

    button {
        width: 80.15px;
        height: 14.387px;
        border-radius: 10.789px;
        font-weight: 600;
        font-size: 8.3457px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.29);
        border: 0.372043px solid #FFFFFF;

        span {
            color: #5B5B5B;
        }
    }
}

.vegCostomCard {
    border-radius: 10px;
    margin-top: 45px !important;
    padding-top: 20px;
    margin: auto;
    width: 134px;
    height: 120px;
    background-color: #222221;
    filter: drop-shadow(0px 0.7415895462036133px 0.7415895462036133px rgba(0, 0, 0, 0.25));

    .smselectItemSearchBox {
        width: 116.555px;
        height: 11.05px;
    }
}