@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

.mainBody {
    font-family: "Montserrat", sans-serif;
    background-color: #FFE8CA;
    //padding-top: 20px;
    //padding-bottom: 20px;

    hr {
        margin: auto;
        width: 326px;
        border: 0.299738px dashed #42484E;
        background: none;
    }
}

.birthdayHomeHeader {
    margin-top: -10px;
    text-align: center;
    height: 160px;

    h6 {
        padding-top: 10px;
        font-weight: 500;
        font-size: 9.52997px;
        line-height: 12px;
        color: #222221;
    }

    h3 {
        margin-bottom: 20px;
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #2C3338;
    }

    hr {
        margin: auto;
        width: 326px;
        border: 0.299738px dashed #42484E;
        background: none;
    }
}

.header {
    h2 {
        text-align: center;
        font-size: 22.2402px;
        font-weight: 900;
        color: #F1A42B;
        background-color: black;
        line-height: 27px;
        padding-inline: 15px;
        padding-block: 5px;
        border-radius: 50px;

        span {
            color: #FEEEDD;
        }
    }

    .btmContent {
        margin-top: -5px;
        display: flex;
        justify-content: space-evenly;
        margin-inline: 80px;
        height: 25px;

        h6 {
            padding-top: 2px;
            text-align: center;
            width: 86px;
            height: 13px;
            margin-top: 5px;
            background-color: black;
            color: white;
            font-size: 7.62837px;
            font-weight: 800;
            //padding-inline: 5px;
            line-height: 9px;
            border-radius: 6.71px;
        }

        p {
            margin-top: 6px;
            font-weight: 800;
            color: #547A17;
            font-size: 8.2593px;
            line-height: 10px;

            span {
                color: #BC0A01;
            }
        }
    }
}

.headerSectn {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 50px;

    .logo {
        margin-left: 20px;
        margin-top: -6px;
        position: absolute;
        z-index: 1;
    }

    .headerDetails {
        margin: auto;
        position: relative;
        width: 324px;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0px 0.75607px 4.8307px rgba(0, 0, 0, 0.19);
        border-radius: 4.75014px;
        display: flex;
        justify-content: space-evenly;
        padding-left: 80px;
        padding-top: 9px;

        h6 {
            text-align: start;
            font-weight: 600;
            font-size: 9.84px;
            letter-spacing: 0.05em;
            color: #222221;

            span {
                color: #F3A400;
            }
        }
    }
}

#custTitle {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 11.4446px;
    line-height: 140%;
    color: #F3A400;
    text-shadow: 0px 5.84px 5.84px rgba(255, 255, 255, 0.25);
}

.inputBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    h6 {
        font-weight: 700;
        font-size: 15.8412px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #222221;
    }

    select {
        margin-bottom: 40px;
        width: 127.95px;
        height: 23.15px;
        background: #FAFAFA;
        border: 0.609278px solid #000000;
        border-radius: 6.09278px;
        font-weight: 500;
        font-size: 12.1856px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #534848;
    }

    input {
        width: 127.95px;
        height: 23.15px;
        background: #FAFAFA;
        border: 0.609278px solid #000000;
        border-radius: 6.09278px;
        font-weight: 500;
        font-size: 12.1856px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #534848;
    }
}

.seePackageBtn {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;

    button {
        width: 148px;
        height: 24px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.52);
        border-radius: 5px;
        font-weight: 500;
        font-size: 13.9405px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #B7B7B7;
        border: none;
    }
}

.packages {
    margin-top: 50px;
    margin-bottom: 20px;
}

.packagesContainer {
    margin-top: 20px;
    margin-bottom: 60px;

    h3 {
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #2C3338;
        margin-bottom: 10px;
    }

    hr {
        margin: auto;
        width: 326px;
        border: 0.299738px dashed #42484E;
        background: none;
    }

    .firstRow {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;

        p {
            position: absolute;
            margin-top: -12px;
            margin-left: 55px;

            font-weight: 800;
            font-size: 15.2882px;
            line-height: 19px;
            color: #222221;
        }
    }

    .secondRow {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;

        p {
            position: absolute;
            margin-top: -12px;
            margin-left: 55px;

            font-weight: 800;
            font-size: 15.2882px;
            line-height: 19px;
            color: #222221;
        }
    }

    .goldPkg {
        width: 169.26px;
        height: 121.52px;
        border: 0.9px solid #4D7104;
        border-radius: 10px;

        .blackbg {
            position: relative;
            margin: auto;
            margin-top: 5px;
            width: 154.47px;
            height: 107.97px;
            background-color: #222221;
            border-radius: 7px;
            box-shadow: 0px 0.896924px 0.896924px rgba(0, 0, 0, 0.25);
        }
    }

    .selectBtn {
        margin-top: 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;

        button {
            padding-top: 2px;
            border: none;
            width: 110px;
            height: 18.61px;
            background: #FFC31A;
            box-shadow: 0px 2.05082px 2.05082px rgba(0, 0, 0, 0.25);
            border-radius: 11.3342px;
            font-weight: 700;
            font-size: 7.83878px;
            color: #FFFFFF;
        }

        button:hover {
            background: #E23D1C;
        }
    }

    .nvGoldPkg {
        width: 169.26px;
        height: 155.89px;
        border: 0.9px solid #BC0A01;
        border-radius: 10px;

        .blackbg {
            position: relative;
            margin: auto;
            margin-top: 5px;
            width: 154.47px;
            height: 138.61px;
            background-color: #222221;
            border-radius: 7px;
            box-shadow: 0px 0.896924px 0.896924px rgba(0, 0, 0, 0.25);
        }
    }

    #vector {
        margin-left: 2px;
        position: absolute;
        text-align: center;
        margin-top: -16px;
        padding-inline: 20px;
    }

    .insideContent {
        padding-top: 10px;

        h4 {
            text-align: center;
            color: #FEEEDD;
            font-size: 12.26px;
            font-weight: 800;
        }

        p {
            margin-top: -15px;
            text-align: center;
            color: #FEEEDD;
            font-size: 7.34px;
            font-weight: 500;
        }

        .btns {
            margin-top: 13px;
            display: flex;
            justify-content: space-around;

            h6 {
                font-weight: 600;
                font-size: 9.47506px;
                color: #FEEEDD;
            }

            #greenBtn {
                h6 {
                    padding-top: 1px;
                    // margin-block: 4px;
                    // padding-inline: 5px;
                    width: 43.29px;
                    height: 12.47px;
                    font-weight: 700;
                    font-size: 8.4643px;
                    text-align: center;
                    color: #F6F6F6;
                    background-color: #547A17;
                    box-shadow: 0.825115px 1.10015px 2.75038px rgba(0, 0, 0, 0.25);
                    border-radius: 7.29px;
                }
            }
        }
    }
}

.bottomSectn {
    height: 126px;
    margin-bottom: -20px;
    padding-top: 60px;

    .top {
        margin: auto;
        width: 329px;
        height: 37px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 7px;

        h6 {
            font-weight: 800;
            font-size: 9.52997px;
            line-height: 12px;
            color: #222221;
        }

        button {
            margin-top: 5px;
            width: 80.15px;
            height: 14.39px;
            border-radius: 10.79px;
            font-weight: 600;
            font-size: 8.3457px;
            line-height: 10px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.29);
            border: 0.372043px solid #FFFFFF;

            span {
                color: #5B5B5B;
            }
        }
    }

    .btm {
        margin-top: 112px;
        text-align: center;

        button {
            margin-top: 20px;
            width: 96.92px;
            height: 18.61px;
            border-radius: 11.33px;
            background: #E23D1C;
            border: none;
            font-weight: 700;
            font-size: 7.83878px;
            line-height: 140%;
            text-decoration-line: underline;
            color: #F6F6F6;
        }

        .ninjaWithBtn {
            display: flex;
            justify-content: space-between;
            margin-inline: 100px;
        }
    }
}



//second Package Row Container


.pkgContainer {
    margin-top: 15px;

    h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }

    .pkgCards {
        display: flex;
        justify-content: space-evenly;
    }

    .pkg1 {
        padding: 5px;
        border: 1px solid black;
        position: relative;
        text-align: center;

        h5 {
            position: absolute;
            margin-top: -12px;
            margin-left: 50px;
            font-weight: 700;
            background-color: gold;
        }

        h4 {
            margin-top: 15px;
        }

        // .cardBg{
        //     background-color: black;
        // }
        button {
            background-color: green;
            width: 45px;
            height: 20px;
            font-size: 10px;
            color: white;
        }

        .vegSnackOptions {
            background-color: #FFC31A;
            position: absolute;
            width: 140px;
            text-align: center;
            margin-left: 150px;
            z-index: 1;

            ul {
                text-align: center;
                padding-left: 0%;
                padding-bottom: 0%;
                padding-top: 10px;
            }

            li {
                text-align: center;
                display: flex;
                justify-content: space-around;

                input {
                    width: 10px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.itemSelector {
    border: 1px solid red;
}

.slidercontainer {
    display: flex;
    overflow-x: auto;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.item {
    background-color: #ccc;
    margin-bottom: 10px;
    width: calc(33.33% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .slider {
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
        justify-content: flex-start;
    }

    .item {
        width: calc(100% / 3 - 10px);
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*****************************CUSTOMISE BIRTHDAY PAGE****************************************/
.customisePkgContainer {
    margin-top: 30px;

    h3 {
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #2C3338;
    }

    hr {
        margin: auto;
        width: 326px;
        border: 0.299738px dashed #42484E;
        background: none;
    }

    h4 {
        text-align: center;
        font-weight: 800;
        font-size: 18.4952px;
        line-height: 23px;
        color: #222221;
    }

    .pkgCard {
        margin-top: 30px !important;
        margin: auto;
        // width: 169.26px;
        // height: 155.89px;
        width: 251px;
        height: 155px;
        border: 0.9px solid #BE2D30;
        ;
        border-radius: 10px;

        #titlebg {
            margin-top: -20px;
            position: relative;
            margin-inline: 50px;


            h4 {
                padding-top: 3px;
                font-weight: 800;
                font-size: 18.69px;
                text-align: center;
                color: #222221;
            }
        }

        .blackbg {
            margin-left: 10px;
            position: absolute;
            margin-top: 10px;
            // width: 154.47px;
            // height: 138.61px;
            width: 229px;
            height: 133px;
            background-color: #222221;
            border-radius: 7px;
            box-shadow: 0px 0.896924px 0.896924px rgba(0, 0, 0, 0.25);
        }
    }

    .cardinsideContent {
        margin-top: 25px;

        h4 {
            font-weight: 800;
            font-size: 14.9873px;
            line-height: 18px;
            text-align: center;
            color: #FEEEDD;
            margin-bottom: -10px;
        }

        p {
            color: #FEEEDD;
            font-weight: 500;
            font-size: 7.36px;
            line-height: 8.98px;
        }
    }

    .btns {
        margin-top: -10px;
        display: flex;
        justify-content: space-around;

        h6 {
            font-weight: 600;
            font-size: 11.5834px;
            color: #FEEEDD;
            line-height: 12px;
        }

        #greenBtn {
            h6 {
                // margin-block: 4px;
                // padding-inline: 5px;
                width: 43.29px;
                height: 12.47px;
                font-weight: 500;
                font-size: 10.3477px;
                text-align: center;
                color: #F6F6F6;
                background: #547A17;
                box-shadow: 1.00871px 1.34495px 3.36237px rgba(0, 0, 0, 0.25);
                border-radius: 8.91029px;
            }
        }
    }
}

.itemsSelectionContainer {
    margin-top: 30px;

    h3 {
        margin-bottom: 15px;
        text-align: center;
        font-weight: 800;
        font-size: 18.4952px;
        line-height: 23px;
        color: #222221;
    }

    .vegSnackContainer {

        .selectItemSearchBox {
            margin: auto;
            width: 327px;
            height: 31px;
            background: #FFE9D9;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5.02177px;
            display: flex;
            justify-content: space-around;

            h6 {
                margin-block: 8px;
                font-weight: 600;
                font-size: 12.1784px;
                line-height: 15px;
                letter-spacing: 0.05em;
                color: rgba(44, 51, 56, 0.66);
            }
        }
    }
}

.addonsbtn {
    text-align: center;
    margin-block: 40px;

    button {
        border: none;
        width: 105.87px;
        height: 28px;
        background: #FFB826;
        border-radius: 5.82791px;
        font-weight: 600;
        font-size: 13.58px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        filter: drop-shadow(0px 2.71501px 2.71501px rgba(0, 0, 0, 0.25));
    }
}

/******************************ADD ONS PAGE*******************************/

.addonsHeader {
    h3 {
        text-align: center;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #2C3338;
        margin-bottom: 15px;
    }
}

.liveCountersSection {
    margin-bottom: 40px;

    .header {
        width: 194px;
        height: 31px;
        margin: auto;
        margin-top: 20px;
    }

    h4 {
        padding-top: 7px;
        color: #222221;
        text-align: center;
        font-size: 13.36px;
        font-weight: 700;
    }

    h6 {
        margin-top: 5px;
        text-align: center;
        color: #222221;
        font-size: 9.097px;
        font-weight: 500;

        span {
            font-weight: 700;
        }
    }

    h5 {
        padding-top: 3px;
        color: #222221;
        text-align: center;
        font-size: 11.793px;
        font-weight: 600;
        margin: auto;
        width: 73.115px;
        height: 20.171px;
        border-radius: 12.903px;
        background: #FFB826;
        box-shadow: -4.300885200500488px 1.4336284399032593px 5.734513759613037px 0px rgba(0, 0, 0, 0.25);
    }

    h3 {
        margin-top: 7px;
        text-align: center;
        color: #222221;
        font-size: 7.471px;
        font-weight: 500;
    }

    .itemsListContainer {
        justify-content: center;
        display: flex;
        margin-bottom: 5px;

        .list {
            margin-top: 2.5px;
            width: 208.513px;
            height: 20.071px;
            border-radius: 10.035px;
            background: linear-gradient(90deg, #FCDB96 0%, rgba(243, 164, 0, 0.00) 100%);

            h4 {
                margin-left: 5px;
                margin-top: -5px;
                text-align: start;
                color: #222221;
                font-size: 11.793px;
                font-weight: 600;
            }

            // .list {
            //     border: 1px solid red;
            //     display: flex;
            //     justify-content: center;
            //     background: linear-gradient(90deg, #FCDB96 0%, rgba(243, 164, 0, 0.00) 100%);

            //     


            // }
        }

        button {
            margin-left: -15px;
            border: none;
            width: 73.115px;
            height: 20.071px;
            border-radius: 12.903px;
            background: #FFB826;
            box-shadow: -4.300885200500488px 1.4336284399032593px 5.734513759613037px 0px rgba(0, 0, 0, 0.25);
            color: #222221;
            font-size: 11.793px;
            font-weight: 600;
            padding-top: 2px;
        }
    }


}

.checkpriceBtn {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;

    button {
        border: none;
        padding: 6.788px 14.933px 5.43px 14.933px;
        flex-direction: column;
        align-items: center;
        gap: 1.358px;
        border-radius: 5.828px;
        background: #BE2D30;
        color: #FFF;
        text-align: center;
        font-size: 13.575px;
        font-weight: 600;
        letter-spacing: 0.407px;

    }
}

.addonsBtmSectn {
    height: 126px;

    h6 {
        margin-top: 30px !important;
        margin: auto;
        width: 275px;
        color: #222221;
        text-align: center;
        font-size: 7.91px;
        font-weight: 500;

        span {
            font-weight: 600;
        }
    }
}

.detailsPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 278px;
    height: 317px;
    background-color: #FFFFFF;
    border-radius: 26px;
    padding-top: 35px;
    box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.75);

    .inputfield {
        margin: auto;
        width: 226px;
        height: 162px;
        background-color: #FFC31A;
        border-radius: 10px;
        padding-top: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        h5 {
            color: #BE2D30;
            text-align: center;
            font-size: 15.45px;
            font-weight: 600;
            letter-spacing: 0.772px;
            text-transform: capitalize;

            span {
                color: #222221;
            }
        }

        input {
            margin: auto;
            width: 170.462px;
            height: 25.784px;
            border-radius: 7.162px;
            background: #FFF;
            color: #222221;
            font-size: 9.61px;
            margin-bottom: 10px !important;
        }

        input::placeholder {
            color: #E78A8C;
            font-size: 9.61px;
            font-family: Montserrat;
            letter-spacing: 0.48px;
        }
    }

    #instantQuoteBtn {
        border: none;
        width: 183px;
        border-radius: 6.985px;
        background: #BE2D30;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        text-align: center;
        font-size: 15.059px;
        font-weight: 500;
        letter-spacing: 0.452px;
    }

    #backBtn {
        margin-top: 30px;
        border: none;
        background: none;
        color: #BE2D30;
        text-align: center;
        font-size: 10.383px;
        font-weight: 500;
        letter-spacing: 0.311px;
    }
}

/***************************************CHECK PRICE PAGE***********************************************/

#checkpriceHeader {
    padding-top: 30px;
    color: #2C3338;
    text-align: center;
    font-size: 19.05px;
    font-weight: 700;
    letter-spacing: 0.952px;
}

.checkpriceheadersection {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

    h4 {
        margin-top: 7px;
        padding: 4.922px 10.829px 3.938px 10.829px;
        gap: 0.984px;
        color: #FFF;
        text-align: center;
        font-size: 9.112px;
        font-weight: 500;
        letter-spacing: 0.273px;
        width: 103px;
        height: 20.84px;
        border-radius: 4.226px;
        background: #F1A42B;
        box-shadow: 0px 1.210191011428833px 2.420382022857666px 0px rgba(0, 0, 0, 0.25);
    }

    h5 {
        margin-top: 7px;
        width: 69px;
        height: 20.84px;
        color: #FFF;
        text-align: center;
        font-size: 9.112px;
        font-weight: 500;
        letter-spacing: 0.273px;
        padding: 4.922px 10.829px 3.938px 10.829px;
        border-radius: 4.226px;
        background: #F1A42B;
        box-shadow: 0px 1.210191011428833px 2.420382022857666px 0px rgba(0, 0, 0, 0.25);
    }
}

.selectedItems {
    margin-top: 30px;
    margin-left: 30px;

    h5 {
        color: #BE2D30;
        font-size: 11.257px;
        font-style: italic;
        font-weight: 500;
        letter-spacing: 0.563px;
        text-transform: capitalize;
    }

    h6 {
        margin-top: 4px;
        margin-left: 5px;
        color: #2C3338;
        font-size: 11.933px;
        font-weight: 600;
        letter-spacing: 0.597px;
        text-transform: capitalize;
    }
}

.cpaddons {
    margin-left: 30px;
    width: 113.71px;
    height: 18.17px;
    margin-bottom: 20px;

    h2 {
        margin-top: 30px;
        padding-top: 2px;
        color: #2C3338;
        font-size: 11.257px;
        font-weight: 600;
        letter-spacing: 0.563px;
        text-transform: capitalize;
    }
}

.addonsSelectedList {
    margin-top: 5px;
    margin-left: 30px;
    display: flex;

    .addonsName {
        margin-left: 10px;
        width: 208.513px;
        height: 20.071px;
        flex-shrink: 0;
        border-radius: 10.035px;
        background: linear-gradient(90deg, #FCDB96 0%, rgba(243, 164, 0, 0.00) 100%);

        h4 {
            margin-top: -2px;
            margin-left: 5px;
            color: #222221;
            font-size: 11.406px;
            font-weight: 600;
            line-height: 27.988px;
        }
    }
}

#addmoreitemCP {
    margin-top: 10px;
    color: #BE2D30;
    text-align: center;
    font-size: 10.383px;
    font-weight: 500;
    letter-spacing: 0.311px;
}

.priceSection {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;

    .priceDropdown {
        select {
            border: none;
            width: 150.652px;
            height: 22px;
            flex-shrink: 0;
            border-radius: 4.783px;
            background: #FBA003;
            color: #FFF;
            font-size: 8.13px;
            font-weight: 600;
            letter-spacing: 0.407px;
        }
    }

    h6 {
        color: #000;
        font-size: 11.17px;
        font-weight: 500;
        line-height: 16.5px;
        letter-spacing: 0.559px;
        text-transform: capitalize;
    }
}

.priceL {
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
    margin-top: 30px;

    h6 {
        margin-top: 4px;
        color: #000;
        font-size: 11.17px;
        font-weight: 500;
        line-height: 16.5px;
        letter-spacing: 0.559px;
        text-transform: capitalize;
    }

    h5 {
        color: #363D42;
        font-size: 11.17px;
        font-weight: 600;
        line-height: 20.5px;
        letter-spacing: 0.559px;
    }
}

.simpleHR {
    hr {
        width: 348px;
        height: 0;
        border: 0.25px #363D42 solid;
    }
}

.grandtotal {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;

    h3 {
        color: #000;
        font-size: 14.17px;
        font-weight: 600;
        letter-spacing: 0.709px;
        text-transform: capitalize;
    }
}

.orderbuttonsectn {
    margin-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;

    .bookinghelpbtn {
        button {
            box-shadow: 0px 2.71500563621521px 2.71500563621521px 0px rgba(0, 0, 0, 0.25);
            width: 160.87px;
            height: 30.08px;
            border: none;
            border-radius: 5.828px;
            background: #FFF;
            color: #3C7311;
            text-align: center;
            font-size: 13.575px;
            font-weight: 600;
            letter-spacing: 0.407px;
        }
    }

    .placeorderbtn {
        button {
            box-shadow: 0px 2.71500563621521px 2.71500563621521px 0px rgba(0, 0, 0, 0.25);
            width: 119.5px;
            height: 30.08px;
            border: none;
            border-radius: 5.828px;
            background: #BE2D30;
            color: #FFF;
            font-size: 13.575px;
            font-weight: 600;
            letter-spacing: 0.407px;
        }
    }
}