@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

.customizeMainContainer {
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 576px) {

    #starterSearchContent {
        padding-top: 10px;
        width: 326px;
        height: 310.8px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 8.09291px 20.0824px 67.4409px rgba(0, 0, 0, 0.51);
    
        input {
            margin: auto;
            width: 286.99px;
            height: 31.2px;
            border-radius: 5.03px;
            background-color: #EFEFEF;
            font-weight: 600;
            font-size: 12.2009px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #ABABAB;
        }
    
        #starterList {
            margin: auto;
    
            ul::-webkit-scrollbar {
                width: 5px;
            }
    
            ul {
                list-style-type: none;
                padding-left: 0%;
                overflow-y: auto;
                height: 195px;
                width: 300px;
                margin: auto;
    
    
                li {
                    margin: auto;
                    text-align: center;
                    margin-bottom: 5px;
                    width: 276.59px;
                    height: 45px;
                    border-radius: 3.9px;
                    background-color: #F6F6F6;
    
                    #insideDivLi {
                        margin-top: 5px;
                        display: flex;
    
                        p {
                            font-weight: 500;
                            font-size: 12px;
                            letter-spacing: 0.05em;
                            text-transform: capitalize;
                            color: #000000;
                            margin-bottom: -10px;
                            text-align: start;
                            line-height: 10px;
    
                            span {
                                margin-top: -10px;
                                font-style: italic;
                                font-weight: 400;
                                font-size: 8px;
                                letter-spacing: 0.05em;
                                text-transform: capitalize;
                                color: #4D555B;
                            }
                        }
    
                        img {
                            margin-top: 3px;
                        }
                    }
    
                    input {
                        margin-top: 7px;
                        margin-right: 10px;
                        width: 10px;
                    }
                    input[type=checkbox] {
                        accent-color: #BE2D30;
                      }
                }
            }
        }
    }

    #listInsideBtn {
        margin-top: 20px;
        text-align: end;
        margin-right: 20px;

        #clearbtn{
            background-color: none;
            border: #4E810A;
            color: black;
        }
    
        button {
            margin-left: 10px;
            width: 53.05px;
            height: 14.39px;
            background: rgba(190, 45, 48, 0.1);
            border: 0.372043px solid #BE2D30;
            border-radius: 10.7892px;
            font-weight: 600;
            font-size: 8.3457px;
            line-height: 10px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #BE2D30;
        }
    }

    .pkgDetails {
        display: none;
    }

    #ninjaBuffy {
        width: 102.33px;
    }

    #ninjaBuffetTitle {
        font-size: 38.37px;
        font-weight: 900;
    }

    .header {
        height: 505px;
        background-color: #FFC31A;
    }

    .headerContent {
        padding-inline: 20.47px;

        #ninjaLogo {
            margin-top: 49px;
            //margin-left: 20.47px;
        }
    }

    .textLogo {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;

        h3 {
            margin-top: 10px;
            font-size: 26.8px;
            line-height: 27.34px;
            font-weight: 600;
            margin-bottom: 0%;
            margin-right: 0%;
        }

        #ninjaBoxTitle {
            font-size: 46.37px;
            font-weight: 900;
            line-height: 47.3px;

            span {
                color: white;
            }
        }

        #ninjaBuffyTitle {
            font-size: 40px;
            font-weight: 900;
            line-height: 47.3px;

            span {
                color: white;
            }
        }

        h2 {
            span {
                color: white;
            }
        }

        h5 {
            font-size: 16.1522px;
            font-weight: 400;
            line-height: 20px;
            // width: 275.22px;
            // height: 38.7px;
        }

        img {
            margin-top: 5px;
        }
    }

    .ninjabox {
        margin-top: 40px;

        img {
            margin: auto;
        }
    }

    .ninjabuffy {
        margin-top: 20px;

        img {
            margin: auto;
        }
    }

    .ninjaBuffyHpkg {
        text-align: center;
        margin-top: 20px;
    }

    .inputDetails {
        background-color: #BE2D30;
        display: flex;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-inline: 10px;

        p {
            margin-left: 0%;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-bottom: 5px;
        }

        input {
            width: 165px;
            background-color: white;
        }

        select {
            width: 165px;
        }

        .cityContent {
            margin-bottom: 40px;
        }

        .eventDate {
            margin-bottom: 20px;
        }

    }

    .cityContainer {
        background-color: #BE2D30;
        text-align: center;
        padding: 30px;

        h3 {
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        select {
            width: 210px;
            height: 38px;
            border-radius: 10px;
            margin: auto;
            width: 150px;
        }
    }

    .packageName {
        text-align: center;
        margin-top: 50px;

        h3 {
            font-weight: 600;
            font-size: 23px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #2C3338;
        }

        h6 {
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 0.02em;
            margin-top: 5px;
        }

        #vegGuest {
            color: #4E810A;
            font-weight: 500;
            font-size: 15.4677px;
            line-height: 19px;

            span {
                color: black;
            }
        }

        #nonVeg {
            color: #BE2D30;
            font-weight: 500;
            font-size: 15.4677px;
            line-height: 19px;

            span {
                color: black;
            }
        }
    }

    //starter scss

    .menuContainer {
        margin-top: 50px;

        h5 {
            text-align: center;
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.05em;
        }

        .createYourMenuHead {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 10px;

            h3 {
                font-weight: 700;
                font-size: 19px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #2C3338;
            }
        }
    }

    .fstItem {
        height: 61.3px;
        width: 315.17px;
        background-color: #F8F8F8;
        margin: auto;
        border-radius: 4.87px;
        display: flex;
        margin-bottom: 10px;
    }

    .itemImage {
        height: 60.2px;
        width: 68.15px;
        border-radius: 5.68px;
    }

    .itemDetailsContainer {
        display: flex;
        margin-top: 10px;

        h4 {
            width: 115px;
            font-weight: 600;
            font-size: 11.81px;
            line-height: 14px;
            //letter-spacing: 0.05em;
            color: #2C3338;
            margin-bottom: -10px;
        }

        P {
            margin-top: 0%;
            margin-left: 0%;
            font-style: italic;
            font-weight: 400;
            font-size: 7.26957px;
            line-height: 9px;
            letter-spacing: 0.05em;
            color: #2C3338;
        }
    }

    .vegLogo {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        height: 10.79px;
        width: 10.79px;
    }

    .downarrowLogo {
        width: 12.27px;
        height: 8px;
        margin: 15px 0px 0px -5px;
    }

    .quantityBtn {
        margin: auto;
        margin-left: 13px;
        margin-top: 11px;
        display: flex;
        width: 73.06px;
        height: 19.92px;
        background-color: white;
        margin-bottom: -5px;

        button {
            height: 19.92px;
            width: 19.92px;
            background-color: #FFC31A;
            border: none;
            font-size: 11.0765px;
            font-weight: 600;
            box-shadow: 0px 2.09732px 2.09732px rgba(0, 0, 0, 0.25);
        }

        h6 {
            margin: auto;
            font-size: 6.81629px;
            font-weight: 600;
            line-height: 8PX;
            letter-spacing: 0.05em;
        }
    }

    .recQnty {
        text-align: end;

        p {
            font-size: 5.34925px;
            font-style: italic;
            font-weight: 400;
            line-height: 7px;
            color: #4E810A;
            //padding-left: 11px;
            // padding-top: 8px;
            letter-spacing: 0.05em;
            text-align: end;
        }
    }

    .trassLogo {
        width: 7.06px;
        height: 7.89px;
        margin-left: 10px;
        margin-top: -25px;
    }

    .startersContainer {

        //margin-inline: 50px;
        h5 {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;

            color: #2C3338;

        }
    }

    .addStarterBtnContnr {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        margin-top: 10px;
    }

    .addStarterBtn {
        border: none;
        background-color: white;
        font-weight: 600;
        font-size: 11.8533px;
        letter-spacing: 0.05em;
        line-height: 14px;
        text-transform: capitalize;
        color: #BE2D30;
    }

    .userInput {
        padding-top: 10px;
        background-color: #FFC31A;
        width: 261px;
        height: 161px;
        border-radius: 10px;
        margin: auto;
        padding: 10px;

        h4 {
            margin-top: 10px;
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 600;
            font-size: 16.5469px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;
        }

        input {
            width: 151.47px;
            height: 22.91px;
            border-radius: 6.36px;
            background-color: white;
            margin: auto;
            margin-bottom: 8px !important;
            font-size: 10px;
            font-weight: 600;
        }

        input::placeholder {
            font-weight: 600;
            font-size: 12.092px;
            line-height: 15px;
            letter-spacing: 0.05em;
            color: #BE2D30;
        }
    }

    .chefNote {
        text-align: center;
        margin-top: 30px;

        p {
            font-style: italic;
            font-weight: 400;
            font-size: 10.8163px;
            line-height: 13px;
            letter-spacing: 0.05em;
        }

        input {
            margin: auto;
            width: 263px;
            height: 34px;
            border-radius: 5.41px;
            font-size: small;
        }
    }

    .instantQuoteBtn {
        margin-top: 30px;
        text-align: center;

        button {
            width: 198px;
            height: 41.36px;
            border-radius: 10px;
            background-color: #BE2D30;
            color: white;
            border: none;
            font-weight: 500;
            font-size: 16.29px;
            line-height: 20px;
            letter-spacing: 0.03em;
            filter: drop-shadow(0px 3.51999px 3.51999px rgba(0, 0, 0, 0.25));
        }
    }

    .applyCoupon {
        display: flex;
        // margin-top: 40px;
        // margin-left: 20px;

        input {
            width: 117px;
            height: 20px;
            background: #E9E9E9;
            border-radius: 5px;
            font-size: 8.5px;
        }

        input::placeholder {
            font-style: italic;
            font-weight: 400;
            font-size: 8.5px;
            line-height: 10px;
            letter-spacing: 0.05em;
        }

        button {
            margin-left: -10px;
            background-color: #FFC31A;
            border: none;
            width: 36.5px;
            height: 20px;
            font-weight: 500;
            font-size: 8.5px;
            line-height: 10px;
            letter-spacing: 0.05em;
        }
    }

    .pricing {
        margin-top: 10px;

        h4 {
            font-weight: 600;
            font-size: 11.17px;
            line-height: 16px;
            letter-spacing: 0.05em;
        }

        p {
            font-weight: 500;
            font-size: 11.17px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: #000000;
        }

        .pricingTitle1 {
            margin-inline: 20px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle11 {
            margin-top: -10px;
            margin-inline: 20px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle2 {
            margin-top: -10px;
            margin-inline: 20px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle3 {
            margin-inline: 20px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle4 {
            margin-top: -10px;
            margin-inline: 20px;
            display: flex;
            justify-content: space-between;
        }

        .hr1 {
            margin-top: 0px;
            margin-inline: 20px;
            border: 1px dashed #4D555B;
            background-color: white;
        }

        #hr2 {
            margin-top: 0px;
            margin-inline: 20px;
            border: 1px solid #000000;
        }

        .grandTotal {
            margin-top: 10px;
            margin-inline: 20px;
            display: flex;
            justify-content: space-between;
        }
    }

    .orderBtn {
        margin-top: 20px;
        text-align: center;

        button {
            padding: 6.78751px 14.9325px 5.43001px;
            gap: 1.36px;
            border: none;
            width: 116.87px;
            height: 30.08px;
            background-color: #FFC31A;
            border-radius: 5.83px;
            font-weight: 600;
            font-size: 13.575px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #2C3338;
            filter: drop-shadow(0px 2.71501px 2.71501px rgba(0, 0, 0, 0.25));
        }
    }

    .createYourOwnPkg {
        margin-top: 30px;
        padding-top: 10px;
        height: 164.94px;
        background-color: #FFC31A;
        display: flex;
        justify-content: space-around;

        img {
            width: 113.73px;
            height: 140.04px;
        }

        p {
            margin-bottom: 0;
            font-style: italic;
            font-weight: 500;
            font-size: 8.69011px;
            line-height: 112%;
            text-align: center;
            color: #FFFFFF;
        }

        h2 {
            font-style: normal;
            font-weight: 800;
            font-size: 17.8392px;
            line-height: 112%;
            text-align: center;
            color: #2C3338;

            span {
                color: #BE2D30;
            }
        }

        h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 8.69011px;
            line-height: 112%;
            text-align: center;
            color: #42484E;
        }

        button {
            border: none;
            background-color: #BE2D30;
            width: 122.45px;
            height: 19.86px;
            border-radius: 10.31px;
            font-weight: 700;
            font-size: 7.86816px;
            line-height: 10px;
            text-align: center;
            color: white;
        }
    }

    .pricingTitle2 {
        h4 {
            span {
                font-style: italic;
                font-weight: 500;
                color: #2C3338;
            }
        }
    }

    .starterSearchBtn {
        margin: auto;
        width: 315px;
        height: 31.15px;
        border-radius: 5.02px;
        background-color: #EFEFEF;
        display: flex;
        justify-content: space-between;

        p {
            margin: auto;
            font-weight: 600;
            font-size: 12.1784px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #2C3338;
        }

        span {
            margin: auto;
            font-style: italic;
            font-weight: 400;
            font-size: 7.49443px;
            line-height: 9px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #4D555B;
        }
    }

    .mainsContainer {
        h5 {
            margin-top: 50px;
        }
    }

    .MenuHr {
        margin: auto;
        width: 326.71px;
        height: 0px;

        border: 0.4px dashed #42484E;
        margin-top: 40px;
        background-color: white;
    }

    .selfService {
        height: 272px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;

        h3 {
            padding-top: 25px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 23px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #42484E;

            span {
                color: #BE2D30;
            }
        }

        img {
            margin: auto;
            text-align: center;
        }
    }

    #drdwndcntnr{
        margin-bottom: -15px;
    }

    .finalPriceSection {
        margin-top: 50px;
        margin-inline: 20px;

        select {
            width: 160px;
            height: 24px;
            border-radius: 4.78px;
            font-weight: 600;
            font-size: 8.13043px;
            line-height: 10px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            background-color: #BE2D30;
            color: white;
        }

        p {
            font-weight: 500;
            font-size: 11.17px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #000000;
        }

        .couponSection {
            display: flex;
            justify-content: space-between;

            h5 {
                font-weight: 600;
                font-size: 11.17px;
                line-height: 33px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #000000;
            }

            input {
                width: 86.24px;
                height: 20.17px;
                border-radius: 5.04px;
                background-color: #F2F2F2;
                margin-right: -20px;
            }

            button {
                background-color: #BE2D30;
                border: none;
                width: 36.81px;
                height: 20.17px;
                border-radius: 2px;
                font-weight: 500;
                font-size: 8.57328px;
                line-height: 10px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #FFFFFF;
            }

            .coupon {
                display: flex;
            }
        }

        .itemtotalSectn {

            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            h6 {
                font-weight: 600;
                font-size: 11.17px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #363D42;
            }

            p {
                font-weight: 500;
                font-size: 11.17px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #000000;
            }
        }

        .grandTotalContainer {
            display: flex;
            justify-content: space-between;

            h3 {
                font-weight: 600;
                font-size: 14.17px;
                line-height: 17px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #000000;
            }
        }
    }

    .ninjaboxLg {
        display: none;
    }

    .ninjaboxLg {
        display: none;
    }

    .pkgSliderContainerLG {
        display: none;
    }

    #dlvydscr{
        font-size: 7.3px;
        margin-top: 0px;
        margin-bottom: 0%;
        margin-left: 0px;
    }

}

.customizeMainContainer {
    font-family: "Montserrat", sans-serif;
}

//*********************************  LARGE DEVICE  ***************************************

@media (min-width: 768px) {

    #vegLogoLg{
        margin-top: 10px !important;
        width: 15px !important;
        height: 15px !important;
    }
    #nvegLogoLg{
        margin-top: 10px !important;
        width: 15px !important;
        height: 15px !important;
    }

    #dlvydscr{
        font-size: 12px;
        margin-left: 20px;
        margin-top: -40px;
        margin-bottom: 0%;
    }

    .header {
        background-color: #FFC31A;
        margin-top: 80px;
        display: flex;
        height: 444px;
        padding: 50px;

        .ninjabuffy {
            display: none;
        }

        .headerContent {
            //margin-inline: 40px;

            #ninjaLogo {
                width: 186.97px;
                height: 39.79px;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 77.16px;
                font-weight: 600;
                line-height: 102%;
            }

            h2 {
                margin-left: 0%;
                font-size: 94.66px;
                font-weight: 900;
                line-height: 96.55px;

                span {
                    color: white;
                }
            }

            h5 {
                font-weight: 400;
                font-size: 32.9702px;
                line-height: 40px;
            }

            #ninja {
                width: 208.89px;
                height: 270.92px;
                margin-left: 25px;
            }

            #ninjaB {
                width: 180.37px;
                height: 270.92px;
                margin-left: 25px;
            }
        }

        .textLogo {
            display: flex;
        }

        .ninjaboxLg {
            img {
                //margin-top: 60px;
                margin-left: 20px;
                height: 291.56px;
                width: 376.9px;
            }
        }

        .ninjabox {
            display: none;
        }

        .ninjaBuffyHpkg {
            img {
                margin-top: 60px;
                margin-left: 20px;
                height: 291.56px;
                width: 376.9px;
            }
        }
    }

    #starterSearchContent {
        padding-top: 10px;
        width: 626px;
        height: 310.8px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 8.09291px 20.0824px 67.4409px rgba(0, 0, 0, 0.51);
    
        input {
            margin: auto;
            width: 550px;
            height: 35px;
            border-radius: 5.03px;
            background-color: #EFEFEF;
            font-weight: 600;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #ABABAB;
        }
    
        #starterList {
            margin: auto;
    
            ul::-webkit-scrollbar {
                width: 5px;
            }
    
            ul {
                list-style-type: none;
                padding-left: 0%;
                overflow-y: auto;
                height: 195px;
                width: 550px;
                margin: auto;
    
    
                li {
                    margin: auto;
                    text-align: center;
                    margin-bottom: 5px;
                    width: 530px;
                    height: 45px;
                    border-radius: 3.9px;
                    background-color: #F6F6F6;
    
                    #insideDivLi {
                        margin-top: 5px;
                        display: flex;
    
                        p {
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: 0.05em;
                            text-transform: capitalize;
                            color: #000000;
                            margin-bottom: -10px;
                            text-align: start;
                            line-height: 10px;
    
                            span {
                                margin-top: -10px;
                                font-style: italic;
                                font-weight: 400;
                                font-size: 8px;
                                letter-spacing: 0.05em;
                                text-transform: capitalize;
                                color: #4D555B;
                            }
                        }
    
                        img {
                            margin-top: 3px;
                        }
                    }
    
                    input {
                        margin-top: 7px;
                        margin-right: 10px;
                        width: 15px;
                        cursor: pointer;
                    }
                    input[type=checkbox] {
                        accent-color: #BE2D30;
                      }
                }
            }
        }
    }

    #listInsideBtn {
        margin-top: 20px;
        text-align: end;
        margin-right: 20px;

        #clearbtn{
            width: 70px;
            background-color: none;
            border: #4E810A;
            color: black;
        }
    
        button {
            margin-left: 10px;
            width: 60px;
            height: 20px;
            background: rgba(190, 45, 48, 0.1);
            border: 0.372043px solid #BE2D30;
            border-radius: 10.7892px;
            font-weight: 600;
            font-size: 12px;
            line-height: 10px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #BE2D30;
        }
        button:hover{
            background-color: #BE2D30;
            color: white;
        }
    }

    #itemsQnty{
        h6{
            font-size: 25px;
        }
    }

    .MenuHr {
        margin: auto;
        width: 800px;
        height: 0px;
        border: 0.4px dashed #42484E;
        margin-top: 90px;
        background-color: white;
    }

    .selfService {
        display: none;
    }

    .pkgSliderContainerLG {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .pkgSlider {
        display: flex !important;
        justify-content: space-evenly;
        padding-block: 20px;

        h3 {
            text-align: center;
            margin-block: auto;
            font-weight: 600;
            font-size: 31px;
            line-height: 38px;
            letter-spacing: 0.02em;
            color: #42484E;

            span {
                color: #BE2D30;
            }
        }

        img {
            width: 366px;
            height: 200px;
        }
    }

    .mainsContainer {
        h5 {
            margin-top: 50px;
        }
    }

    .cityContent {
        select {
            margin-bottom: 40px;
        }
    }

    .starterSearchBtn {
        margin: auto;
        width: 778px;
        height: 50px;
        border-radius: 5.02px;
        background-color: #EFEFEF;
        display: flex;
        justify-content: space-between;

        p {
            margin: auto;
            font-weight: 600;
            font-size: 20px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #2C3338;
        }

        span {
            margin: auto;
            font-style: italic;
            font-weight: 400;
            font-size: 15px;
            line-height: 9px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #4D555B;
        }
    }

    .finalPriceSection {
        margin-top: 40px;
        margin-inline: 40px;

        select {
            width: 315px;
            height: 46px;
            border-radius: 4.78px;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            background-color: #BE2D30;
            color: white;
        }

        p {
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.05em;
            text-transform: capitalize;

            color: #000000;
        }

        .couponSection {
            display: flex;
            justify-content: space-between;

            h5 {
                font-weight: 600;
                font-size: 11.17px;
                line-height: 33px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #000000;
            }

            input {
                width: 86.24px;
                height: 20.17px;
                border-radius: 5.04px;
                background-color: #F2F2F2;
                margin-right: -20px;
            }

            button {
                background-color: #BE2D30;
                border: none;
                width: 36.81px;
                height: 20.17px;
                border-radius: 2px;
                font-weight: 500;
                font-size: 8.57328px;
                line-height: 10px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #FFFFFF;
            }

            .coupon {
                display: flex;
            }
        }

        .itemtotalSectn {

            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            h6 {
                font-weight: 600;
                font-size: 11.17px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #363D42;
            }

            p {
                font-weight: 500;
                font-size: 11.17px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #000000;
            }
        }

        .grandTotalContainer {
            display: flex;
            justify-content: space-between;

            h3 {
                font-weight: 600;
                font-size: 14.17px;
                line-height: 17px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #000000;
            }
        }
    }

    .redBg {
        background-color: #BE2D30;
        padding-bottom: 100px;
    }

    .whiteBg {
        background-color: white;
        margin-inline: 220px;
        padding-bottom: 50px;
    }

    .inputDetails {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;

        //margin-inline: 220px;
        p {
            margin-left: 0%;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-bottom: 5px;
        }

        input {
            width: 200px;
            background-color: white;
        }

        select {
            width: 200px;
        }

        .cityContent {
            margin-bottom: 20px;
        }

        .cuisineContainer {
            margin-bottom: 20px !important;
        }

        .vegContainer {
            margin-bottom: 20px !important;
        }
    }

    .cityContainer {
        margin-inline: 220px;
        display: flex;
        justify-content: flex-end;
        padding-block: 50px;

        .cityflexLg {
            display: flex;
        }

        h3 {
            text-align: end;
            color: white;
            margin-right: 15px;
        }

        select {
            text-align: center;
            width: 210.5px;
            height: 42.81px;
            border-radius: 10px;
        }
    }

    .packageName {
        display: none;
    }

    .pkgDetails {
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;

        h3 {
            margin-top: 15px;
            font-weight: 600;
            font-size: 31px;
            line-height: 38px;
            letter-spacing: 0.02em;
            color: #42484E;
        }

        h5 {
            margin-top: 40px;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #2C3338;
        }

        #vegGuest {
            margin: 0%;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #4E810A;

            span {
                color: black;
            }
        }

        #nonVegGuest {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #BE2D30;

            span {
                color: black;
            }
        }
    }

    .menuContainer {
        margin-top: 50px;

        h5 {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .createYourMenuHead {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 10px;

            h3 {
                font-weight: 600;
                font-size: 31px;
                line-height: 38px;
                letter-spacing: 0.02em;
                color: #42484E;
            }

            hr{
                width: 320px !important;
            }
        }
    }

    .fstItem {
        height: 106px;
        width: 778px;
        background-color: #F8F8F8;
        margin: auto;
        border-radius: 10px;
        display: flex;
        margin-bottom: 15px;
    }

    .itemImage {
        height: 106px;
        width: 120px;
        border-radius: 10px;
    }

    .itemDetailsContainer {
        display: flex;
        margin-top: 15px;

        h4 {
            width: 240px;
            font-weight: 600;
            font-size: 20.8px;
            line-height: 25px;
            letter-spacing: 0.05em;
            color: #2C3338;
            margin-bottom: -3px;
        }

        P {
            margin-top: 0%;
            margin-left: 0%;
            font-style: italic;
            font-weight: 400;
            font-size: 12.8px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: #2C3338;
        }
    }

    .vegLogo {
        margin-left: 18px;
        margin-right: 7px;
        margin-top: 4px;
        height: 19px;
        width: 19px;
    }

    .downarrowLogo {
        width: 23px;
        height: 15px;
        margin: 30px 0px 0px 30px;
    }

    .quantityBtn {
        margin: auto;
        text-align: end;
        margin-left: 130px;
        margin-top: 5px;
        display: flex;
        width: 176px;
        height: 48px;
        background-color: white;

        button {
            cursor: pointer;
            height: 48px;
            width: 48px;
            background-color: #FFC31A;
            border: none;
            font-size: 26.6842px;
            font-weight: 600;
            box-shadow: 0px 5.05263px 5.05263px rgba(0, 0, 0, 0.25);
        }
        button:hover{
            background-color: #BE2D30;
            color: white;
        }

        h6 {
            margin: auto;
            font-size: 16.4211px;
            font-weight: 600;
            line-height: 20PX;
            letter-spacing: 0.05em;
        }
    }

    .recQnty {
        text-align: end;

        p {
            margin-top: 10px;
            font-size: 12.8px;
            font-style: italic;
            font-weight: 400;
            line-height: 16px;
            color: #4E810A;
            letter-spacing: 0.05em;
            text-align: end;
            padding-right: 10px;
        }
    }

    .trassLogo {
        cursor: pointer;
        width: 17px;
        height: 19px;
        margin-left: 40px;
        margin-top: -20px;
    }

    .addStarterBtnContnr {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        margin-top: 10px;
    }

    .addStarterBtn {
        width: 225px;
        height: 41px;
        border: none;
        background-color: white;
        font-weight: 600;
        font-size: 21px;
        letter-spacing: 0.05em;
        line-height: 26px;
        text-transform: capitalize;
        color: #BE2D30;
    }

    .userInput {
        margin: auto;
        width: 818px;
        height: 157px;
        border-radius: 20px;
        background-color: #FFC31A;

        h4 {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.05em;
            padding-top: 25px;
            padding-bottom: 20px;
        }

        .detailsInputLg {
            display: flex;
            justify-content: space-evenly;

            input {
                width: 238px;
                height: 36px;
                background: #FFFFFF;
                border-radius: 10px;
            }

            input::placeholder {
                font-weight: 600;
                font-size: 19px;
                line-height: 23px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #BE2D30;
            }
        }
    }

    .chefNote {
        text-align: center;
        margin-top: 50px;

        p {
            font-style: italic;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.05em;
        }

        input {
            margin: auto;
            width: 549px;
            height: 69px;
            border-radius: 10px;
        }
    }

    .instantQuoteBtn {
        margin-top: 50px;
        text-align: center;

        button {
            width: 275.24px;
            height: 51.29px;
            border-radius: 10px;
            background-color: #BE2D30;
            color: white;
            border: none;
            font-weight: 500;
            font-size: 23.2931px;
            line-height: 28px;
            letter-spacing: 0.03em;
            filter: drop-shadow(0px 4.65863px 4.65863px rgba(0, 0, 0, 0.25));
        }
    }

    .applyCoupon {
        display: flex;
        // margin-top: 50px;
        // margin-left: 40px;

        input {
            width: 234px;
            height: 40px;
            background: #E9E9E9;
            border-radius: 10px;
        }

        input::placeholder {
            font-style: italic;
            font-weight: 400;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #787878;
        }

        button {
            margin-left: -10px;
            background-color: #FFC31A;
            border: none;
            width: 73px;
            height: 40px;
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #4D555B;
        }
    }

    .pricing {
        margin-top: 20px;

        h4 {
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.05em;
            color: #000000;
        }

        p {
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.05em;
            color: #000000;
        }

        .pricingTitle1 {
            margin-inline: 40px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle11 {
            margin-top: -10px;
            margin-inline: 40px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle2 {
            margin-top: -10px;
            margin-inline: 40px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle3 {
            margin-inline: 40px;
            display: flex;
            justify-content: space-between;
        }

        .pricingTitle4 {
            margin-top: -10px;
            margin-inline: 40px;
            display: flex;
            justify-content: space-between;
        }

        .hr1 {
            margin-top: 0px;
            margin-inline: 40px;
            border: 1px dashed #4D555B;
            background-color: white;
        }

        #hr2 {
            margin-top: 0px;
            margin-inline: 40px;
            border: 1px solid #000000;
        }

        .grandTotal {
            margin-top: 10px;
            margin-inline: 40px;
            display: flex;
            justify-content: space-between;
        }
    }

    .orderBtn {
        margin-top: 30px;
        text-align: center;

        button {
            padding: 13.575px 29.8651px 10.86px;
            gap: 2.72px;
            border: none;
            width: 233.73px;
            height: 60.15px;
            background-color: #FFC31A;
            border-radius: 11.6558px;
            font-weight: 600;
            font-size: 27.1501px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #2C3338;
            filter: drop-shadow(0px 5.43001px 5.43001px rgba(0, 0, 0, 0.25));
        }
    }

    .createYourOwnPkg {
        padding-top: 10px;
        padding-top: 30px;
        height: 447px;
        background-color: #FFC31A;
        display: flex;
        justify-content: space-evenly;

        img {
            width: 309.59px;
            height: 381.23px;
        }

        p {
            margin-top: 50px;
            margin-bottom: 5px;
            font-style: italic;
            font-weight: 500;
            font-size: 23.6564px;
            line-height: 112%;
            text-align: center;
            color: #FFFFFF;
        }

        h2 {
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 800;
            font-size: 48.5623px;
            line-height: 112%;
            text-align: center;
            color: #2C3338;

            span {
                color: #BE2D30;
            }
        }

        h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 23.6564px;
            line-height: 112%;
            text-align: center;
            color: #42484E;
        }

        button {
            margin-top: 55px;
            border: none;
            background-color: #BE2D30;
            width: 333.33px;
            height: 54.07px;
            border-radius: 28.06px;
            font-weight: 700;
            font-size: 21.4189px;
            line-height: 26px;
            text-align: center;
            color: white;
            box-shadow: 2.68128px 3.57504px 8.9376px #42484E;
        }
    }

    #ninjaBuffy {
        width: 180.37px;
        height: 270.92px;
        margin-left: 30px;
        margin-right: 20px;
    }

    .pricingTitle2 {
        h4 {
            span {
                font-style: italic;
                font-weight: 500;
                color: #2C3338;
            }
        }
    }

    .startersContainer,
    .mainsContainer {
        margin-top: 60px;

        //margin-inline: 50px;
        h5 {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #2C3338;

        }
    }

    .eventDate {
        margin-bottom: 20px;
    }

}

// .header {
//     margin-top: 80px;
//     height: 444px;
//     background-color: #FFC31A;
// }

// .headerContent {
//     padding-left: 60px;
//     padding-top: 65px;
//     display: flex;
//     h2 {
//         padding-top: 20px;
//         margin: 0;
//         font-size: 77.1603px;
//         line-height: 102%;
//         font-weight: 600;
//     }

//     h1 {
//         margin: 0;
//         font-size: 94.66px;
//         line-height: 96.55px;
//         font-weight: 900;
//         span{
//             color: white;
//         }
//     }
//     p{
//         padding-top: 10px;
//         font-size: 32.9702px;
//         font-weight: 400;
//         line-height: 40px;
//     }
//     #ninja{
//         margin-top: 40px;
//         margin-left: 70px;
//     }
//     #pkgImg{
//         margin-top: 40px;
//     }
// }

// .packageContainer{
//     background-color: #BE2D30;
// }

// .cityContent{
//     display: flex;
//     justify-content: flex-end;
//     padding-block: 50px;
//     h3{
//         text-align: end;
//         color: white;
//         margin-right: 15px;
//     }
//     select{
//         text-align: center;
//         width: 210.5px;
//         height: 42.81px;
//         border-radius: 10px;
//     }
// }
// .page{
//     margin-inline: 220px;
// }

// .bgWhiteClr{
//     background-color: #FFFFFF;
//     padding: 80px;
// }

// .pkgDetails{
//     display: flex;
//     justify-content: space-between;
//     h3{
//         margin-top: 15px;
//         font-weight: 600;
//         font-size: 31px;
//         line-height: 38px;
//         letter-spacing: 0.02em;
//         color: #42484E;
//     }
//     h5{
//         margin-top: 40px;
//         margin-bottom: 20px;
//         font-weight: 400;
//         font-size: 20px;
//         line-height: 24px;
//         letter-spacing: 0.03em;
//         color: #2C3338;
//     }
//     #vegGuest{
//         margin: 0%;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 24px;
//         color: #4E810A;
//         span{
//             color: black;
//         }
//     }
//     #nonVegGuest{
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 24px;
//         color: #BE2D30;
//         span{
//             color: black;
//         }
//     }
// }


// .startersContainer{
//     margin-top: 50px;
//     h5{
//         text-align: center;
//         font-weight: 600;
//         font-size: 26px;
//         line-height: 32px;
//         letter-spacing: 0.05em;
//         color: #2C3338;
//     }
//     .fstItem {
//         margin: auto;
//         height: 106px;
//         width: 778px;
//         background-color: #F8F8F8;
//         border-radius: 10px;
//         display: flex;
//         border: 1px solid red;

//         h4 {
//             font-size: 20.8px;
//             font-weight: 600;
//             margin-bottom: 0;
//             letter-spacing: 0.05em;
//         }

//         p {
//             margin-top: 0px;
//             margin-left: 0;
//             font-size: 12.8px;
//             font-style: italic;
//         }
//     }
//     .itemImage {
//         height: 106px;
//         width: 120px;
//         border-radius: 10px;
//     }

//     .itemDetailsContainer {
//         display: flex;
//         margin-top: 12px;
//     }

//     .vegLogo {
//         margin-left: 15px;
//         margin-right: 10px;
//         margin-top: 3px;
//         height: 19px;
//         width: 19px;
//     }

//     .downarrowLogo {
//         width: 23px;
//         height: 15px;
//         margin: 30px 0px 0px 50px;
//     }
// }

// .quantityBtn {
//     margin: auto;
//     margin-left: 120px;
//     margin-top: 10px;
//     display: flex;
//     width: 176px;
//     height: 48px;
//     background-color: white;

//     button {
//         height: 48px;
//         width: 48px;
//         background-color: #FFC31A;
//         border: none;
//         font-size: 26.68px;
//         font-weight: 600;
//         box-shadow: 0px 5.05263px 5.05263px rgba(0, 0, 0, 0.25);
//     }

//     h6 {
//         margin: auto;
//         font-size: 16.42px;
//         font-weight: 600;
//         letter-spacing: 0.05em;
//     }
// }

// .recQnty {
//     font-size: 12.8px;
//     font-style: italic;
//     color: #4E810A;
//     padding-left: 145px;
//     padding-top: 8px;
//     letter-spacing: 0.05em;
// }

// .trassLogo {
//     width: 17px;
//     height: 19px;
//     margin-left: 45px;
// }

// .addStarterBtnContnr {
//     display: flex;
//     justify-content: flex-end;
//     margin-right: 90px;
//     margin-top: 20px;
// }

// .addStarterBtn {
//     border: none;
//     background-color: white;
//     font-weight: 600;
//     font-size: 21px;
//     letter-spacing: 0.05em;
//     text-transform: capitalize;
//     color: #BE2D30;
// }