@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

.diyMainContainer {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 100px;
}

.diyAnimationScreen {
    text-align: center;

    .whiteBg {
        height: 500px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .redBg {
        height: 50px;
        background-color: #BE2D30;
    }

    .yellowBg {
        height: 50px;
        background-color: #FFC31A;
    }

    #logo {
        margin-top: 80px;
        width: 235.58px;
        height: 47.31px;
    }

    #ninja {
        margin-top: 30px;
        width: 165.03px;
        height: 254.82px;
    }

    p {
        font-weight: 500;
        font-size: 15.1753px;
        line-height: 102%;
        color: #4D555B;

        span {
            font-weight: 600;
        }
    }
}

.header {
    height: 154px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
        width: 146.02px;
        height: 29.32px;
    }

    h4 {
        font-weight: 500;
        font-size: 13.7567px;
        line-height: 102%;
        color: #4D555B;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .headerButtonsLines {
        width: 256.79px;
        height: 18.66px;
        //border: 1px solid red;
        display: flex;
        margin: auto;

        button {
            border: 2px solid #CAC9C9;
            width: 18.66px;
            height: 18.66px;
            border-radius: 100%;
            background-color: white;
            margin: auto;
        }

        #line1 {
            margin: auto;
            width: 63.09px;
            height: 0;
            border: 1.77706px solid #CAC9C9;

        }

    }

    #btn1 {
        background-color: #BE2D30;
    }
}

.selectCity {
    text-align: center;

    h3 {
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
        margin-bottom: 5px;
    }

    hr {
        margin: auto;
        width: 194px;
        border: 0.299738px dashed #42484E;
        background-color: white;
    }

    #cityIcon {
        margin-inline: 20px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        button {
            border: none;
            width: 70px;
            height: 65px;
            border-radius: 4.96719px;
            background-color: white;
            filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
        }

        button:hover {
            background-color: #FFC31A;
        }

        button:active {
            background-color: #FFC31A;
        }

        img {
            width: 60px;
        }


    }
}

.cityDropdown {


    select {
        margin: auto;
        margin-top: 30px;
        width: 200px;
    }
}

.occasion {
    text-align: center;

    h3 {
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
        margin-bottom: 5px;
    }

    hr {
        margin: auto;
        width: 136px;
        border: 0.299738px dashed #42484E;
        background-color: white;
        margin-bottom: 30px;
    }

    #occasionOptionBtn {
        display: flex;
        justify-content: space-around;
        margin-inline: 40px;

        button {
            border: none;
            margin-bottom: 15px;
            width: 111.88px;
            height: 26.45px;
            border-radius: 5.51px;
            background-color: white;
            filter: drop-shadow(0px 1.2px 2.20458px rgba(0, 0, 0, 0.25));

            font-weight: 600;
            font-size: 9.33622px;
            line-height: 11px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;

            color: #000000;
        }

        button:active {
            background-color: #FFC31A;
        }
    }
}

.eventDate {
    text-align: center;

    h3 {
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
        margin-bottom: 5px;
    }

    hr {
        margin: auto;
        width: 194px;
        border: 0.299738px dashed #42484E;
        background-color: white;
        margin-bottom: 30px;
    }

    .datePicker {
        width: 150px;
        margin: auto;
    }

    .availableSlots {
        margin: auto;
        width: 280px;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        text-align: center;

        h5 {
            padding-top: 5px;
            font-weight: 600;
            font-size: 14px;
            line-height: 12px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #2C3338;
        }

        .breakfastContainer {
            text-align: start;
            margin-left: 10px;

            h6 {
                font-size: 12px;
                font-weight: 500;
            }

            p {
                font-size: 11px;
                font-weight: 500;
            }
        }
    }
}

.guestCount {
    text-align: center;

    h3 {
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
        margin-bottom: 5px;
    }

    hr {
        margin: auto;
        width: 194px;
        border: 0.299738px dashed #42484E;
        background-color: white;
        margin-bottom: 20px;
    }
}

.vegSwitch {
    display: flex;
    justify-content: center;
    margin-top: 0%;

    p {
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #2C3338;
    }
}

/* The switch - the box around the slider */
.switch {
    margin: auto;
    position: relative;
    display: inline-block;
    // width: 40px;
    // height: 8px;
    width: 20.14px;
    height: 5.48px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    // height: 20px;
    // width: 20px;
    width: 13.02px;
    height: 13px;
    border-radius: 50%;
    left: 0;
    bottom: -4px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FFC31A;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    background-color: #4E810A;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
// .slider.round {
//     border-radius: 34px;
// }

// .slider.round:before {
//     border-radius: 50%;
// }

.vegNonvegOptions {
    display: flex;
    justify-content: space-evenly;

    select {
        width: 131.13px;
        height: 31px;
        border-radius: 4.69px;
        font-weight: 600;
        font-size: 8.15222px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #979797;

        option {
            font-weight: 600;
            font-size: 8.15222px;
            line-height: 10px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #979797;
        }
    }

    img {
        width: 10px;
        height: 10px;
    }
}

.cuisineContainer {
    text-align: center;
    margin-bottom: 30px;

    h3 {
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
        margin-bottom: 5px;
    }

    hr {
        margin: auto;
        width: 136px;
        border: 0.299738px dashed #42484E;
        background-color: white;
        margin-bottom: 20px;
    }
}

.cuisineBtn {
    display: flex;
    justify-content: space-around;
    margin-inline: 40px;

    button {
        border: none;
        margin-bottom: 15px;
        width: 111.88px;
        height: 26.45px;
        border-radius: 5.51px;
        background-color: white;
        filter: drop-shadow(0px 1.2px 2.20458px rgba(0, 0, 0, 0.25));

        font-weight: 600;
        font-size: 9.33622px;
        line-height: 11px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #000000;
    }

    button:active {
        background-color: #FFC31A;
    }
}

#bottomLine {
    margin: auto;
    width: 327.31px;
    border: 0.299738px dashed #42484E;
    background-color: white;
    margin-bottom: 20px;
}

.backBtn {
    text-align: end;
    margin-right: 30px;

    button {
        border: none;
        color: #BE2D30;
        background: none;
        font-weight: 600;
        font-size: 11.8622px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
    }
}

//MENU CONTAINER

.createYourMenuContainer {
    text-align: center;
    margin-bottom: 30px;

    h3 {
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
        margin-bottom: 5px;
    }

    hr {
        margin: auto;
        width: 208px;
        border: 0.299738px dashed #42484E;
        background-color: white;
        margin-bottom: 20px;
    }
}

.startersContainer {
    display: flex;
    // justify-content: start;
    margin-left: 20px;

    h6 {
        margin-top: 6px;
        margin-left: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 11.2568px;
        line-height: 14px;
        letter-spacing: 0.05em;
        color: #2C3338;
        margin-bottom: 30px;
    }

    .switch {
        margin: auto;
        position: relative;
        display: inline-block;
        // width: 40px;
        // height: 8px;
        width: 20.14px;
        height: 5.48px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 34px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        // height: 20px;
        // width: 20px;
        width: 13.02px;
        height: 13px;
        border-radius: 50%;
        left: 0;
        bottom: -4px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #ccc;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        background-color: #FFC31A;
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.selectDropdown {
    margin: auto;
    width: 286.9px;
    height: 31.15px;
    border-radius: 5.02px;
}

.selectDropdown::placeholder {
    font-weight: 600;
    font-size: 12.1784px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #2C3338;
}

.starterBtmLine hr {
    margin-top: 40px;
    width: 327.31px;
    border: 0.299738px dashed #42484E;
    background-color: white;
    margin-bottom: 5px;
}

.addMoreBtn {
    text-align: end;
    margin-right: 30px;
    margin-bottom: 30px;

    button {
        width: 80.15px;
        height: 14.39px;
        border-radius: 10.79px;
        color: #BE2D30;
        font-weight: 600;
        font-size: 8.3457px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 0.05em;
        background-color: rgba(190, 45, 48, 0.1);
        border: 1px solid #BE2D30;
    }
}

.starterSearchBtn {
    margin: auto;
    width: 286.9px;
    height: 31.15px;
    border-radius: 5.02px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;

    p {
        margin: auto;
        font-weight: 600;
        font-size: 12.1784px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
    }

    span {
        margin: auto;
        font-style: italic;
        font-weight: 400;
        font-size: 7.49443px;
        line-height: 9px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #4D555B;
    }
}


//STARTER SEARCH - LIST
// .starterMenuContainer{
//     margin: auto;
//     width: 326px;
//     height: 310.8px;
//     box-shadow: 8.09291px 20.0824px 67.4409px rgba(0, 0, 0, 0.51);
// }

// #starterOptions {
//     margin: auto;
//     width: 286.9px;
//     min-height: 31.15px;

//     ::placeholder {
//         font-weight: 600;
//         font-size: 12.1784px;
//         line-height: 15px;
//         letter-spacing: 0.05em;
//         text-transform: capitalize;
//         color: #2C3338;
//     }
// }

.checkPriceBtn {
    margin-left: 30px;

    button {
        border: none;
        width: 114px;
        height: 32px;
        border-radius: 9px;
        background-color: #BE2D30;
        color: white;
        font-weight: 500;
        font-size: 13.9405px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.03em;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.52);
    }
}

.priceDetailsSection {
    text-align: center;
    margin-bottom: 30px;

    h3 {
        margin-top: 60px;
        font-weight: 700;
        font-size: 19.05px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #2C3338;
        margin-bottom: 5px;
    }

    hr {
        margin: auto;
        width: 326.71px;
        border: 0.299738px dashed #42484E;
        background-color: white;
        margin-bottom: 20px;
    }

    .reviewBtn {
        display: flex;
        justify-content: space-evenly;
        margin-inline: 50px;

        button {
            height: 20.84px;
            border: 1px solid #FFC31A;
            background-color: #FFC31A;
            color: white;
            font-weight: 500;
            font-size: 9.11196px;
            line-height: 11px;
            text-align: center;
            letter-spacing: 0.03em;
            border-radius: 4.23px;
        }

        button:active {
            color: #FFC31A;
            background-color: white;
        }
    }

    .menuName {
        display: flex;
        justify-content: space-between;
        margin-inline: 30px;
        margin-top: 30px;

        h6,
        p {
            font-style: italic;
            font-weight: 500;
            font-size: 11.2568px;
            line-height: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #BE2D30;
        }
    }

    .itemName {
        display: flex;
        justify-content: space-between;
        margin-inline: 30px;
        text-align: start;

        h6 {
            font-weight: 600;
            font-size: 11.933px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #2C3338;
        }
    }
}

#pricebtmHr {
    margin: auto;
    width: 326.71px;
    border: 0.299738px dashed #42484E;
    background-color: white;
    margin-bottom: 20px;
}

.backToMenu {
    text-align: center;
    margin-top: 10px;

    button {
        border: none;
        background-color: white;
        font-weight: 500;
        font-size: 10.3832px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #BE2D30;
    }
}

.finalPriceSection {
    margin-top: 40px;
    margin-inline: 30px;

    select {
        width: 160px;
        height: 24px;
        border-radius: 4.78px;
        font-weight: 600;
        font-size: 8.13043px;
        line-height: 10px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        background-color: #BE2D30;
        color: white;
    }

    p {
        font-weight: 500;
        font-size: 11.17px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #000000;
    }

    .couponSection {
        display: flex;
        justify-content: space-between;

        h5 {
            font-weight: 600;
            font-size: 11.17px;
            line-height: 33px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #000000;
        }

        input {
            width: 86.24px;
            height: 20.17px;
            border-radius: 5.04px;
            background-color: #F2F2F2;
            margin-right: -20px;
        }

        button {
            background-color: #BE2D30;
            border: none;
            width: 36.81px;
            height: 20.17px;
            border-radius: 2px;
            font-weight: 500;
            font-size: 8.57328px;
            line-height: 10px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #FFFFFF;
        }

        .coupon {
            display: flex;
        }
    }

    .itemtotalSectn {

        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        h6 {
            font-weight: 600;
            font-size: 11.17px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #363D42;
        }

        p {
            font-weight: 500;
            font-size: 11.17px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #000000;
        }
    }

    .grandTotalContainer {
        display: flex;
        justify-content: space-between;

        h3 {
            font-weight: 600;
            font-size: 14.17px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #000000;
        }
    }
}

#nextBtn1 {
    text-align: end;
    margin-right: 30px;

    a {
        color: #BE2D30;
        font-weight: 600;
        font-size: 11.8622px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #BE2D30;
    }
}

#nextPrevBtn2 {
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;

    a {
        color: #BE2D30;
        font-weight: 600;
        font-size: 11.8622px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #BE2D30;
    }
}

#submitBtn {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;

    button {
        border: none;
        width: 116.87px;
        height: 30px;
        border-radius: 5.83px;
        background-color: #BE2D30;
        color: white;
        font-weight: 600;
        font-size: 13.575px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.03em;
        filter: drop-shadow(0px 2.71501px 2.71501px rgba(0, 0, 0, 0.25));
    }

    a {
        color: #BE2D30;
        font-weight: 600;
        font-size: 11.8622px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
    }
}

#checkPriceBtn {
    text-align: center;
    border: none;
    width: 116.87px;
    height: 30px;
    border-radius: 5.83px;
    background-color: #BE2D30;
    color: white !important;
    font-weight: 600;
    font-size: 13.575px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.03em;
    filter: drop-shadow(0px 2.71501px 2.71501px rgba(0, 0, 0, 0.25));
}

#starterSearchContent {
    padding-top: 10px;
    width: 326px;
    height: 310.8px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 8.09291px 20.0824px 67.4409px rgba(0, 0, 0, 0.51);

    input {
        margin: auto;
        width: 286.99px;
        height: 31.2px;
        border-radius: 5.03px;
        background-color: #EFEFEF;
        font-weight: 600;
        font-size: 12.2009px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #ABABAB;
    }

    #starterList {
        margin: auto;

        ul::-webkit-scrollbar {
            width: 5px;
        }

        ul {
            list-style-type: none;
            padding-left: 0%;
            overflow-y: auto;
            height: 195px;
            width: 300px;
            margin: auto;


            li {
                margin: auto;
                text-align: center;
                margin-bottom: 5px;
                width: 276.59px;
                height: 45px;
                border-radius: 3.9px;
                background-color: #F6F6F6;

                #insideDivLi {
                    margin-top: 5px;
                    display: flex;

                    p {
                        margin-top: 2px;
                        margin-left: 5px;
                        font-weight: 500;
                        font-size: 12px;
                        letter-spacing: 0.05em;
                        text-transform: capitalize;
                        color: #000000;
                        margin-bottom: -10px;
                        text-align: start;
                        line-height: 10px;

                        span {
                            margin-top: -10px;
                            font-style: italic;
                            font-weight: 400;
                            font-size: 8px;
                            letter-spacing: 0.05em;
                            text-transform: capitalize;
                            color: #4D555B;
                        }
                    }

                    img {
                        margin-top: 3px;
                    }
                }

                input {
                    margin-top: 7px;
                    margin-right: 10px;
                    width: 10px;
                }
            }
        }
    }
}

#listInsideBtn {
    margin-top: 20px;
    text-align: end;
    margin-right: 20px;

    button {
        width: 53.05px;
        height: 14.39px;
        background: rgba(190, 45, 48, 0.1);
        border: 0.372043px solid #BE2D30;
        border-radius: 10.7892px;
        font-weight: 600;
        font-size: 8.3457px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #BE2D30;
    }
}

.selectedStarterContainer {
    .fstItem {
        height: 61.3px;
        width: 315.17px;
        background-color: #F8F8F8;
        margin: auto;
        border-radius: 4.87px;
        display: flex;
        margin-bottom: 10px;
    }

    .itemImage {
        height: 60.2px;
        width: 68.15px;
        border-radius: 5.68px;
    }

    .itemDetailsContainer {
        display: flex;
        margin-top: 10px;
        text-align: start;

        h4 {
            //margin-left: -10px;
            text-align: start;
            font-weight: 600;
            font-size: 11.81px;
            line-height: 14px;
            letter-spacing: 0.05em;
            color: #2C3338;
            margin-bottom: 1px;
        }

        P {
            margin-top: 0%;
            margin-left: 0%;
            font-style: italic;
            font-weight: 400;
            font-size: 7.26957px;
            line-height: 8px;
            letter-spacing: 0.05em;
            color: #2C3338;
        }
    }

    .vegLogo {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        height: 10.79px;
        width: 10.79px;
    }

    .downarrowLogo {
        width: 12.27px;
        height: 8px;
        margin: 15px 0px 0px -5px;
    }

    .quantityBtn {
        margin: auto;
        margin-left: 10px;
        margin-top: 11px;
        display: flex;
        width: 73.06px;
        height: 19.92px;
        background-color: white;
        margin-bottom: -5px;

        button {
            height: 19.92px;
            width: 19.92px;
            background-color: #FFC31A;
            border: none;
            font-size: 11.0765px;
            font-weight: 600;
            box-shadow: 0px 2.09732px 2.09732px rgba(0, 0, 0, 0.25);
        }

        h6 {
            margin: auto;
            font-size: 6.81629px;
            font-weight: 600;
            line-height: 8PX;
            letter-spacing: 0.05em;
        }
    }

    .recQnty {
        text-align: end;

        p {
            font-size: 5.34925px;
            font-style: italic;
            font-weight: 400;
            line-height: 7px;
            color: #4E810A;
            //padding-left: 11px;
            // padding-top: 8px;
            letter-spacing: 0.05em;
            text-align: end;
        }
    }

    .trassLogo {
        width: 7.06px;
        height: 7.89px;
        margin-left: 10px;
        margin-top: -25px;
    }

    .startersContainer {
        //margin-inline: 50px;
    }

    .addStarterBtnContnr {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        margin-top: 10px;
    }

    .addStarterBtn {
        border: none;
        background-color: white;
        font-weight: 600;
        font-size: 11.8533px;
        letter-spacing: 0.05em;
        line-height: 14px;
        text-transform: capitalize;
        color: #BE2D30;
    }

    .userInput {
        padding-top: 10px;
        background-color: #FFC31A;
        width: 226px;
        height: 161px;
        border-radius: 10px;
        margin: auto;
        padding: 10px;

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 16.5469px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: capitalize;
        }

        input {
            width: 151.47px;
            height: 22.91px;
            border-radius: 6.36px;
            background-color: white;
            margin: auto;
        }

        input::placeholder {
            font-weight: 600;
            font-size: 12.092px;
            line-height: 15px;
            letter-spacing: 0.05em;
            color: #BE2D30;
        }
    }

    .chefNote {
        text-align: center;
        margin-top: 30px;

        p {
            font-style: italic;
            font-weight: 400;
            font-size: 10.8163px;
            line-height: 13px;
            letter-spacing: 0.05em;
        }

        input {
            margin: auto;
            width: 263px;
            height: 34px;
            border-radius: 5.41px;
            font-size: small;
        }
    }
}

.vegLogo{
    margin-left: 5px;
    width: 10px;
    height: 10px;
}