@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@media (min-width: 768px) {
.footerContainer {
    height: 280px;
    font-family: "Montserrat", sans-serif;

    .insideContent {
        margin-inline: 40px;
        display: flex;
        justify-content: space-between;
    }

    .caterninjaLogo img {
        width: 262.95px;
        height: 52.8px;
        margin-top: 65px;
    }

    .links {
        display: flex;
        list-style: none;
        gap: 45px;

        .icon {
            width: 33px;
            height: 43px;
            color: #935052;
        }
    }

    .copyright p {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        margin-top: 100px;
        margin-left: -45px;
    }

    .address {
        margin-top: 30px;

        h3 {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #2C2626;
            margin-bottom: 20px;
        }

        .caterninja {
            display: flex;
            justify-content: space-between;

            img {
                width: 11px;
                height: 14px;
            }

            h4 {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #534848;
                margin-left: 5px;
            }
        }

        .number {
            display: flex;
            img{
                width: 11px;
                height: 14px;
            }
            h4 {
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color: #534848;
                margin-left: 5px;
            }
        }

        .email{
            display: flex;
            img{
                width: 11px;
                height: 14px;
            }
            h4 {
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color: #534848;
                margin-left: 5px;
            }
        }
    }
}
}

@media (max-width: 576px) {
    .footerContainer {
        font-family: "Montserrat", sans-serif;
        height: 378px;
        padding: 20px;
    
        // .insideContent {
        //     text-align: center;
        // }
    
        .caterninjaLogo img {
            width: 150px;
            margin: auto;
            position: relative;
            // margin-top: 65px;
            
        }
    
        .links {
            display: flex;
            list-style: none;
            margin-left: -18px;
            margin-bottom: 0%;
            margin-top: 5px;
    
            .icon {
                width: 40px;
                height: 20px;
                color: #935052;
            }
        }
    
        .copyright p {
            position: absolute;
            margin-top: 200px;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            margin-inline: 25px;
        }
    
        .address {
            margin-top: 20px;
    
            h3 {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #2C2626;
                margin-bottom: 10px;
            }
    
            .caterninja {
                display: flex;
    
                img {
                    width: 11px;
                    height: 14px;
                }
    
                h4 {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #534848;
                    margin-left: 5px;
                }
            }
    
            .number {
                display: flex;
                img{
                    width: 11px;
                    height: 14px;
                }
                h4 {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 15px;
                    color: #534848;
                    margin-left: 5px;
                }
            }
    
            .email{
                display: flex;
                img{
                    width: 11px;
                    height: 14px;
                }
                h4 {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 15px;
                    color: #534848;
                    margin-left: 5px;
                }
            }
        }
    }
    }