.redContent {
    background-color: #BE2D30;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cityDateContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 20px;

    p {
        margin: auto;
        font-weight: 700;
        font-size: 15.8412px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    select {
        border: 1px solid #000000;
        width: 127.95px;
        height: 25.15px;
        border-radius: 6.09px;
        background: #fafafa;
        font-weight: 500;
        font-size: 12.1856px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #534848;
    }

    input {
        border: 1px solid #000000;
        width: 127.95px;
        height: 23.15px;
        border-radius: 6.09px;
        background: #fafafa;
        font-weight: 500;
        font-size: 12.1856px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #534848;
    }
}

.guestCountContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    p {
        margin: auto;
        text-align: center;
        font-weight: 700;
        font-size: 15.8412px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    input {
        border: 1px solid #000000;
        width: 127.95px;
        height: 23.15px;
        border-radius: 6.09px;
        background: #fafafa;
        font-weight: 500;
        font-size: 12.1856px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #534848;
    }
}



.packageName {
    text-align: center;
    margin-top: 50px;

    h5 {
        margin: auto;
        margin-top: 10px;
        width: 120px;
        padding: 5px;
        border-radius: 8.38px;
        background-color: #FFC31A;
        font-weight: 400;
        font-size: 16.7568px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: #000000;
    }

    h3 {
        font-weight: 600;
        font-size: 23px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #2C3338;
    }

    h6 {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.02em;
        margin-top: 5px;
    }
}